{% for img in images %}
    <div class="col-md-3 css-marginB20 container-thumb">
        <div class="css-background-image" style="background-image: url('{{ base_path ~ "/min_" ~ img.file }}')"></div>
        <a href="javascript: removeImage(2, '{{ img.id }}')" class="btn btn-danger btn-flat center-block"><i class="fas fa-trash-alt"></i> Eliminar</a>
        <a href="#" class="btn btn-info btn-flat center-block btn-show" data-image="{{ base_path ~ "/min_" ~ img.file }}"><i class="fas fa-search"></i> Ver imagen</a>
    </div>
{% endfor %}