<label>Sub-categoría</label>
<select class="form-control select2" name="subcategory[]" id="subcategory" multiple>
    {% for sub in subcategories %}
        <option value="{{ sub.id }}" {{ isSelectedMultiple(selectedSubCategories, sub.id) }}>{{ sub.name }}</option>
    {% endfor %}
</select>
<div class="text-danger" id="subcategory_validate"></div>
