<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <title>{% block title %}Gestor{% endblock %} | INK CMS</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="robots" content="noindex">
        <!-- bootstrap -->
        <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}">
        <!-- Ionicons -->
        <link href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}" rel="stylesheet">
        <!-- AdminLTE Skins -->
        <link href="{{ asset('inkcms/css/skins/skin-black.min.css') }}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
        {% block stylesheet %}{% endblock %}
        <!-- Theme style -->
        <link href="{{ asset('inkcms/css/AdminLTE.css') }}" rel="stylesheet">
        <!-- Custom css -->
        <link href="{{ asset('inkcms/css/css-styles.css') }}" rel="stylesheet">
    </head>

    <body class="hold-transition skin-black fixed sidebar-mini">
        <div class="wrapper">

            <!-- Main Header -->
            {{ include('Admin/Overall/navigation.twig') }}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% block breadcrumb %}{% endblock %}

                <!-- Main content -->
                <section class="content container-fluid">
                    {% block content %}{% endblock %}
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {% block key %}{% endblock %}
            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    INK cms
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; {{ "now"|date("Y") }}
                    <a href="{{ path('/') }}" target="_blank">devapsicolegs</a>.</strong>
                    All rights reserved.
            </footer>

            <div class="control-sidebar-bg"></div>
        </div>
        <!-- ./wrapper -->

        <!-- REQUIRED JS SCRIPTS -->

        <!-- jQuery 3 -->
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"> </script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- SlimScroll -->
        <script src="{{ asset('node_modules/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
        <!-- FastClick -->
        <script src="{{ asset('node_modules/fastclick/lib/fastclick.js') }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('inkcms/js/adminlte.js') }}"></script>
        <!-- Main.js -->
        <script src="{{ asset('inkcms/js/main.js') }}"></script>
        <!-- Custom methods -->
        <script src="{{ asset('inkcms/js/__paths.js') }}"></script>
        <script src="{{ asset('inkcms/js/generals-functions.js') }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
