{% extends "Web/layout.twig" %}

{% block title %}Sexología Clínica{% endblock %}

{% block body %}
    <!-- Top banner-START -->
    <div class="contentPadding bg" style="background-image: url('{{ image('/web/banner-img.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="servicesTitle">
                        <div class="cell-view">
                            <h1 class="h1 light as">SEXOLOGÍA</h1>
                            <div class="breadCrumbs small">
                                <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Sexología Clínica</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top banner-END -->

    <div class="contentPadding">
        <div class="container">
            <div class="row">
                {% include "Web/Overall/sexology-side.twig" %}

                <div class="col-sm-12 col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
                    <div class="mainServicesContent">
                        <div class="blogWrapper">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="imgWrapper">
                                        <img src="{{image('/web/stress-img.jpg') }}" alt="Estres">
                                    </div>
                                    <div class="emptySpace-xs20"></div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/stress-img2.jpg') }}" alt="Estres">
                                    </div>
                                </div>
                            </div>

                            <div class="emptySpace50 emptySpace-xs30"></div>

                            <div class="blogContent">
                                <div class="simple-article normall">
                                    <h5>SEXOLOGÍA CLÍNICA</h5>
                                    <p>En Sexología Clínica nos encontraremos con:</p>

                                    <h6 class="h6">Sex Therapy o Terapia Sexual y/o de Pareja</h6>
                                    <p>
                                        Objetivo: Suelen ser problemas o dificultades comunes, y no graves, pero pueden presentarse de mayor gravedad, de esto dependerá las características de la intervención, tanto en duración, como en profundidad. <br><br>
                                        <strong>Formato: </strong>individual o en pareja.<br>
                                    </p>

                                    <h6 class="h6">Terapia Sexual </h6>
                                    <p>
                                        <strong>La terapia sexual </strong>puede hacer referencia a uno, a dos o más, la <strong>terapia de pareja </strong>se refiere a dos, pero siempre en el trasfondo de ésta, estaría <strong>lo sexual.</strong> O dicho de otra manera, el sujeto de cualquiera de éstas, siempre, será el ser como sexuad@ o en su caso, los seres como<strong> sexuad@s.</strong>
                                    </p>

                                    <h6 class="h6">Terapia de pareja</h6>
                                    <p>
                                        Está claro que la terapia de pareja va a <strong>estar focalizada en ésta, y la intervención se efectuará sobre estos sujetos sexuados y la relación que mantienen. Pero no olvidemos, que una pareja, y más en estos tiempos, va unirse en función del “deseo”. Y matizando más, del </strong>“deseo sexual”. Por lo tanto, sea cual fuere la problemática que presente y el ámbito que toque, es una <strong>terapia sexual.</strong><br><br>
                                        Lo cierto es que, a lo largo de la vida y del reconocimiento de esta ciencia y de su práctica sexológica, desde muchos sectores de la <strong>Sexología</strong> o desde otras profesiones, se ha planteado la <strong>terapia sexual </strong>desde una perspectiva reduccionista y simplista, centrada en la erótica (a excepción de las intervenciones sobre problemáticas de identidad y orientación, en muchas ocasiones cuestionables); y<strong> la terapia de pareja</strong> en la parte de la terapia sexual, no erótica o no amatoria; excluyendo un matiz de suma importancia, que una pareja es por definición sexual, dado que está compuesta por un hombre y una mujer, un hombre y otro hombre o por dos mujeres, o de dos personas en sí. Y para esos seres sexuad@s, el sexo de ese otr@ es absolutamente relevante, y modificarlo o no tenerlo en cuenta, sería modificar la esencia de su misma existencia o negar una realidad.<br><br>
                                        Desde nuestro paradigma, la <strong>terapia de pareja</strong>, insistimos, estará inmersa siempre en la<strong> terapia sexual </strong>y el foco de atención en la intervención estaría centrada tanto en el ámbito de la convivencia a todos los niveles, como en otros que tuvieran más en cuenta la parte de la erótica, y todo lo relacionado con ella; háblese de lo corpóreo o no, de lo genital o no. Con independencia de su formato en pareja o que la intervención se centre en lo erótico o no.<br><br>
                                        Consideramos que, todo problema sexual que surja en pareja, sería conveniente la intervención sobre ella, aunque sólo un@ de ell@s planteara la problemática. Cierto aspecto importante y del que somos plenamente conscientes, es que la otra parte de la pareja puede negarse a  participar en estas sesiones. En tal caso, intervendremos sobre la persona que acude a consulta, teniendo en cuenta que durante el proceso se irán produciendo ciertos cambios en ésta, que si la otra parte no va absorbiendo, podrá peligrar dicha relación. Generalmente, el/la termina viniendo a terapia,  ya que de alguna forma, los cambios de la persona que acude a terapia, lo confunden y le van dando aviso que algo no funciona bien.
                                    </p>

                                    <h6 class="h6">Terapia Sexual Individual</h6>
                                    <p>
                                        Pero, también, se da el caso de aquella persona que acude a la consulta y que no tiene pareja, o desea tratar su problemática de forma individual.
                                    </p>

                                    <h6 class="h6">Algunas ideas erróneas y prejuicios sociales</h6>
                                    <ul>
                                        <li>La mujer tiene dos tipos de orgasmos uno vaginal y otro clitorideo.</li>
                                        <li>La vida sexual de la mujer termina con la menopausia y la histerectomía.</li>
                                        <li>El placer sexual de la mujer en el coito depende del tamaño del pene. </li>
                                        <li>La potencia sexual del hombre depende del tamaño de su pene.</li>
                                        <li>El número limitado de experiencias y de años para la actividad sexual.</li>
                                        <li>Tanto el deseo como las habilidades sexuales pueden incrementarse mediante el uso de afrodisíacos.</li>
                                        <li>Sin penetración no se pueden tener relaciones sexuales completas y satisfactorias.</li>
                                        <li>El hombre no debe negarse nunca a tener contacto erótico y un largo etcétera.</li>
                                    </ul>
                                    <br><br>
                                    <h6 class="h6">Causas habituales de demanda de atención</h6>
                                    <p>
                                        En cuanto a las consultas más habituales podemos decir que la mayoría son motivadas por problemas de desinformación y mala información, como los prejuicios antes mencionados. Ahora,  los motivos de consulta más habituales suelen ser: <br><br>
                                        “Problemas sexuales” en la relación de la pareja o de uno de los dos miembros de ésta, o simplemente de forma individual. Entre las causas más comunes, que pueden ser consultados tanto en pareja como individualmente, nos encontramos: Deseo sexual  hipo-activo. Trastorno por aversión al sexo. Trastorno de la excitación femenina. Trastorno de la erección o disfunción eréctil. Anorgasmia femenina.  Dispareunia. Vaginismo. Trastornos relacionados con la identidad sexual. Trastornos relacionados con excitación sexual anómala.<br><br>
                                        “Problemas de pareja” en cuanto a la relación en sí, como a algunas cuestiones particulares: Falta de una buena comunicación, mala convivencia, que puede ser, en general, o provocada por los cambios sociales que se van asentando y que tienden a fomentar la igualdad, en algunos casos,  no entendida por ambos, de igual manera, creando conflictos que no saben resolver surgiendo desencuentros.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </div>
{% endblock %}
