{% extends "Web/layout.twig" %}

{% block title %}Counseling{% endblock %}

{% block body %}
    <!-- Top banner-START -->
    <div class="contentPadding bg" style="background-image: url('{{ image('/web/banner-img.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="servicesTitle">
                        <div class="cell-view">
                            <h1 class="h1 light as">SEXOLOGÍA</h1>
                            <div class="breadCrumbs small">
                                <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Counseling</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top banner-END -->

    <div class="contentPadding">
        <div class="container">
            <div class="row">
                {% include "Web/Overall/sexology-side.twig" %}

                <div class="col-sm-12 col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
                    <div class="mainServicesContent">
                        <div class="blogWrapper">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/stress-img.jpg') }}" alt="Estres">
                                    </div>
                                    <div class="emptySpace-xs20"></div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/stress-img2.jpg') }}" alt="Estres">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="emptySpace50 emptySpace-xs30"></div>
                            
                            <div class="blogContent">
                                <div class="simple-article normall">
                                    <h5> ASESORAMIENTO SEXUAL</h5>
                                    
                                    <h6 class="h6 as">Asesoramiento Sexual o Sex Counselling</h6>
                                    <p>
                                        <strong>Objetivo: </strong>Información, formación, aclaración, orientación y resolución de problemas comunes y de poca gravedad, dudas, dificultades, desinformación.<br><br>
                                        <strong>Formato: </strong>su intervención se presenta en pareja o individualmente, aunque también se puede realizar con un grupo pequeño.<br><br>
                                        Se plantea una forma de intervención basada en la <strong>compresión y en el cultivo</strong>. Y puesto que se centra en el sujeto y su biografía, no existen recetas, en sí. Las soluciones se alcanzan a través de un método reflexivo a partir del sujeto, y su capacidad de darse cuenta y aprender de su experiencia y vivencias, en una palabra de su “ser y estar en el mundo”.<br><br>
                                        Se pone el énfasis: en la forma en la que los sujetos se configuran como <strong>sexuad@s </strong>y en cómo <strong>se relacionan,</strong> como tales. Veremos que es una concepción más global, que estudia la <strong>"realidad sexual"</strong> desde una perspectiva biográfica y relacional. Así pues el objeto de estudio es el sujeto sexuado, tanto en sí mismo como en relación con otr@ u otr@s. Es decir, no se va a centrar la atención en el problema ni en el síntoma, sino en el <strong>"ser sexuad@ y sus vivencias".</strong><br><br>
                                        Se plantea la cuestión actitudinal del <strong>Asesor/a Sexológico,</strong> que pasa de tener una actitud normativa (anteriormente, utilizada) a tener una actitud de cultivo y comprensión.<br><br>
                                        Se trataría, pues, de una forma de intervención sexológica que permitiría trabajar desde las <strong>capacidades</strong> de la propia <strong>persona,</strong> profundizando en sus fuentes de riqueza, y no tanto para curar patologías como para <strong>cultivar sus posibilidades,</strong> siguiendo el axioma de Havelock Ellis, que Efigenio  Amezúa menciona con frecuencia en sus obras: "en Sexología hay más fenómenos cultivables que trastornos curables".<br><br>
                                        Utilizamos el término <strong>“sexológico”</strong> por parecernos más correcto, pero debido que <strong>"sexual"</strong> se emplea más frecuentemente, a pesar de que emerja de <strong>"sexo"</strong> y no de<strong> "sexología",</strong> como sería lo adecuado, haremos uso de ambos indistintamente.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}