{% extends "Web/layout.twig" %}

{% block title %}Introducción{% endblock %}

{% block body %}
    <!-- Top banner-START -->
    <div class="contentPadding bg" style="background-image: url('{{ image('/web/banner-img.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="servicesTitle">
                        <div class="cell-view">
                            <h1 class="h1 light as">SEXOLOGÍA</h1>
                            <div class="breadCrumbs small">
                                <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Introducción</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top banner-END -->

    <div class="contentPadding">
        <div class="container">
            <div class="row">
                {% include "Web/Overall/sexology-side.twig" %}

                <div class="col-sm-12 col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
                    <div class="mainServicesContent">
                        <div class="blogWrapper">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/stress-img.jpg') }}" alt="Estres">
                                    </div>
                                    <div class="emptySpace-xs20"></div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/stress-img2.jpg') }}" alt="Estres">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="emptySpace50 emptySpace-xs30"></div>
                            
                            <div class="blogContent">
                                <div class="simple-article normall">
                                    <h5>INTRODUCCIÓN</h5>
                                    <p>
                                        La Sexología tiene como objeto de estudio: la <strong>"Dimensión Sexual Humana"</strong> o el <strong>"Hecho Sexual Humano"</strong>, el hecho por el cual el sujeto humano se hace, se vive, se expresa, se relaciona... como "sujeto sexuado". Por lo tanto, su intervención se dará en esos ámbitos.<br><br>
                                        Actualmente, en la Práctica Sexológica se considera en la base a la <strong>educación,</strong> a continuación el <strong>asesoramiento</strong>, y finalmente la <strong>terapia,</strong> como último recurso de intervención donde las anteriores no han podido solucionar o atajar, aquello que se presentaba como problema. En los apartados correspondientes a cada concepto, daremos una pequeña información sobre cada uno.<br><br>
                                        Ahora, entraremos en un tema de gran relieve en esta ciencia. La terminología.<br><br>
                                        Y cómo no, vamos a empezar por un término de mucho uso, podía decirse que hasta de abuso, por la población en general. Vamos a hablar del concepto: <strong>"sexo".</strong><br><br>
                                        <strong>¿De qué estamos hablando cuando hablamos de "sexo"?</strong> Generalmente, no sabemos de qué estamos hablando. <br><br>
                                        Vulgarmente empleamos el término <strong>"sexo" </strong>para decir muchas cosas, pero, en el fondo, como antes se ha mencionado, no sabemos a qué nos estamos refiriendo, ni nos aclaramos sobre qué queremos decir.
                                    </p>
                                    
                                    <h6>Por ejemplo:</h6>
                                    <ul>
                                        <li>“Sexo seguro": entonces haremos relación a tener relaciones sexuales con precaución, en este caso "genitales". </li>
                                        <li>"Mi sexo": estaremos hablando de los genitales.</li>
                                        <li>"Sexo": mujer. Y así un largo etcétera.</li><br>
                                    <ul>
                                    <p>Vamos a aclarar esto, un poco.</p>
                                    <p>
                                        <strong>La Sexología </strong>es la ciencia que tiene como objeto de estudio al: <strong>"hecho sexual humano",</strong> hecho por el cual el sujeto humano se hace (sexuación), se vive (sexualidad) y se expresa (erótica) como "sujeto sexuado".<br><br>
                                        <strong>La sexuación</strong> es el proceso por el cual el ser humano, pasando por una serie de relevos en su desarrollo, tanto a nivel cromosómico, genital, neurológico, somático, psicológico, sociológico y un largo etcétera., se convierte en "ser sexuad@ a través de toda su existencia.<br><br>
                                        El<strong> "sexo"</strong> no es una función, sino una dimensión que impregna la existencia de todo individuo. El "sexo" será el resultado de esa serie de elementos diferenciales, que nos van configurando como "seres sexuad@s", en una amplia gama de posibilidades, en la base de una intersexualidad constituyente, en todos sus modos, matices y peculiaridades.<br><br>
                                        La <strong>"sexualidad"</strong> sería la vivencia de ese "ser sexuad@", el resultado vivencial del proceso de sexuación, donde se perfilarán todos aquellos aspectos, que vendrán desgajados del anterior proceso, como son los motivacionales, cognitivos, emocionales... que le harán tomar conciencia al sujeto de su "ser sexuad@".<br><br>
                                        La<strong> "erótica"</strong> sería "la puesta en escena" a cualquier nivel de esa vivencia sexual, perteneciente a ese "ser sexuad@". Es decir la expresión, el gesto, la conducta. Y todo esto, tanto a nivel interno como externo. Aquí entraría el deseo, la seducción, las fantasías, las caricias, la genitalidad, etc.<br><br>
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}