<header class="main-header">

    <!-- Logo -->
    <a class="logo" href="{{ path('/') }}" target="_blank">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>INK</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="{{ image('/logos/logo.png') }}" alt="">
        </span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button">
            <i class="fas fa-bars"></i>
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="far fa-envelope"></i>
                        <span class="label label-success">{{ CmsGlobalInfo.contact|length }}</span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="header">Tienes {{ CmsGlobalInfo.contact|length }} sin leer</li>
                        <li>
                            <ul class="menu">
                                {% for msg in CmsGlobalInfo.contact %}
                                    <li>
                                        <a href="{{ path('inkcms/contact/message/edit/' ~ msg.id) }}">
                                            <h4>
                                                {{ msg.contactReason.name }}
                                                <small>
                                                    <i class="far fa-calendar-alt"></i>
                                                    {{ msg.createAt|date('d-m-Y') }}
                                                </small>
                                            </h4>
                                            <p>{{ msg.message|slice(0, 50) }}</p>
                                        </a>
                                    </li>
                                {% endfor %}

                                {% if CmsGlobalInfo.contact|length == 0 %}
                                    <li>
                                        <a href="#">
                                            <h4>No hay mensajes nuevos</h4>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="footer">
                            <a href="{{ path('/inkcms/contact') }}">Ver todos los mensajes</a>
                        </li>
                    </ul>
                </li>

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <!-- The user image in the navbar-->
                        <img alt="User Image" class="user-image" src="{{ userSession.profileImage }}">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs"> {{ userSession.username }} </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img alt="User Image" class="img-circle" src="{{ userSession.profileImage }}">

                            <p>
                                {{ userSession.name ~ ' ' ~ userSession.lastName }} - {{ userSession.roleName }}
                                <small>Registrado: {{ userSession.register }} </small>
                            </p>
                        </li>

                        <li class="user-body">
                            {# <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div> #}
                        </li>

                        <li class="user-footer">
                            <div class="pull-left">
                                <a class="btn btn-default btn-flat" href="{{ path('/inkcms/profile') }}">Perfil</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat" href="{{ path('/inkcms/logout') }}">Cerrar Sesión</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a data-toggle="control-sidebar" href="#">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img alt="User Image" class="img-circle" src="{{ userSession.profileImage }}">
            </div>
            <div class="pull-left info">
                <p>{{ userSession.username }}</p>
                <!-- Status -->
                <a href="#">
                    <i class="fa fa-circle text-success"></i>
                    Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" class="sidebar-form" method="get">
            <div class="input-group">
                <input class="form-control" name="q" placeholder="Search..." type="text">
                <span class="input-group-btn">
                    <button class="btn btn-flat" id="search-btn" name="search" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">OPCIONES</li>
            <!-- Optionally, you can add icons to the links -->
            <li data-h-opt="dashboard">
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            {# Usuarios #}
            <li class="treeview" data-h-opt="user">
                <a href="#">
                    <i class="fas fa-users"></i>
                    <span>Usuarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li data-h-opt="list">
                        <a href="{{ path('/inkcms/users') }}">Listado de usuarios</a>
                    </li>
                    <li data-h-opt="add">
                        <a href="{{ path('/inkcms/user/add') }}">Agregar usuario</a>
                    </li>
                </ul>
            </li>
            {# Posts #}
            <li class="treeview" data-h-opt="post">
                <a href="#">
                    <i class="fas fa-bullhorn"></i>
                    <span>Publicaciones</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li data-h-opt="list">
                        <a href="{{ path('/inkcms/posts') }}">Listado de publicaciones</a>
                    </li>
                    <li data-h-opt="add">
                        <a href="{{ path('/inkcms/post/add') }}">Agregar publicación</a>
                    </li>
                    <li data-h-opt="catList">
                        <a href="{{ path('/inkcms/post/categories') }}">Listado de categorías</a>
                    </li>
                    <li data-h-opt="catAdd">
                        <a href="{{ path('/inkcms/post/category/add') }}">Agregar categoría</a>
                    </li>
                    <li data-h-opt="subCatList">
                        <a href="{{ path('/inkcms/post/subcategories') }}">Listado de subcategorías</a>
                    </li>
                    <li data-h-opt="subCatAdd">
                        <a href="{{ path('/inkcms/post/subcategory/add') }}">Agregar subcategoría</a>
                    </li>
                </ul>
            </li>
            {# Tags #}
            <li class="treeview" data-h-opt="tag">
                <a href="#">
                    <i class="fas fa-tags"></i>
                    <span>Etiquetas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li data-h-opt="list">
                        <a href="{{ path('/inkcms/tags') }}">Listado de etiquetas</a>
                    </li>
                    <li data-h-opt="add">
                        <a href="{{ path('/inkcms/tag/add') }}">Agregar etiqueta</a>
                    </li>
                </ul>
            </li>
            {# SEO #}
            <li class="treeview" data-h-opt="seo">
                <a href="#">
                    <i class="fas fa-clipboard-list"></i>
                    <span>SEO</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li data-h-opt="list">
                        <a href="{{ path('/inkcms/seo') }}">Listado de SEO</a>
                    </li>
                    <li data-h-opt="add">
                        <a href="{{ path('/inkcms/seo/add') }}">Agregar SEO</a>
                    </li>
                    <li data-h-opt="seoSectionList">
                        <a href="{{ path('/inkcms/seo/sections') }}">Listado de secciones</a>
                    </li>
                    <li data-h-opt="seoSectionAdd">
                        <a href="{{ path('/inkcms/seo/section/add') }}">Agregar sección</a>
                    </li>
                </ul>
            </li>
            {# SLIDER #}
            <li class="treeview" data-h-opt="slider">
                <a href="#">
                    <i class="fas fa-images"></i>
                    <span>Slider</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li data-h-opt="list">
                        <a href="{{ path('/inkcms/sliders') }}">Listado de imágenes</a>
                    </li>
                    <li data-h-opt="add">
                        <a href="{{ path('/inkcms/slider/add') }}">Agregar imagen</a>
                    </li>
                </ul>
            </li>
            <!-- Información -->
            {#
                <li class="treeview" data-h-opt="information">
                    <a href="#">
                        <i class="fas fa-info-circle"></i>
                        <span>Información</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li data-h-opt="history">
                            <a href="{{ path('/inkcms/information/history') }}">Historia</a>
                        </li>
                        <li data-h-opt="team">
                            <a href="{{ path('/inkcms/information/team') }}">Equipo</a>
                        </li>
                        <li data-h-opt="services">
                            <a href="{{ path('/inkcms/information/services') }}">Servicios</a>
                        </li>
                        <li data-h-opt="subserviceList">
                            <a href="{{ path('/inkcms/information/subservices') }}">Sub-servicios</a>
                        </li>
                    </ul>
                </li>
            #}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
