{% extends "Admin/layout.twig" %}

{% block title %}
    {% if act == 1 %}
        Historia
    {% elseif act == 2 %}
        Equipo
    {% elseif act == 3 %}
        Servicios
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Información
            {% if act == 1 %}
                <small>Historia</small>
            {% elseif act == 2 %}
                <small>Equipo</small>
            {% elseif act == 3 %}
                <small>Servicios</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Historia</li>
            {% elseif act == 2 %}
                <li class="active">Equipo</li>
            {% elseif act == 3 %}
                <li class="active">Servicios</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

        <div class="box box-primary">
            <div class="box-header">
                {% if act == 1 %}
                    <h2 class="box-title">Historia</h2>
                {% elseif act == 2 %}
                    <h2 class="box-title">Equipo</h2>
                {% elseif act == 3 %}
                    <h2 class="box-title">Servicios</h2>
                {% endif %}
            </div>

            <div class="box-body">
                <div class="form-group">
                    <textarea class="form-control" name="content" id="content" rows="8">{{ content }}</textarea>
                    <div class="text-danger" id="content_validate"></div>
                </div>
            </div>
        </div>

        {% if act == 2 %}
            <div class="box box-solid">
                <div class="box-header">
                    <h2 class="box-title">Nuevo miembro</h2>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <div class="text-danger" id="name_validate"></div>
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" name="description" id="description" rows="8"></textarea>
                        <div class="text-danger" id="description_validate"></div>
                    </div>

                    <div class="form-group">
                        <div class="btn btn-default btn-file css-width100 btn-files-adj center-block" id="img-banner">
                            <i class="far fa-image"></i> <span>Seleccione una imagen</span>
                            <input type="file" name="profile_image" id="profile_image" class="img-section">
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-solid">
                <div class="box-header">
                    <h2 class="box-title">Miembros</h2>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-striped data-table table-hover">
                        <thead>
                            <tr>
                                <th>Ref.</th>
                                <th>Nombre</th>
                                <th>Imagen</th>
                                <th>Creado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teamList %}
                                <tr>
                                    <td>{{ team.id }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>
                                        <img src="{{ team.profileImage }}" alt="" width="50">
                                    </td>
                                    <td>{{ team.create }}</td>
                                    <td>
                                        <a href="{{ path('/inkcms/information/team/edit/' ~ team.id) }}" class="btn btn-info btn-flat">Editar</a>
                                        <button type="button" class="btn btn-flat btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="removeBootstrapModal({{ team.id }})">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% elseif act == 3 %}
            <div class="box box-solid">
                <div class="box-header">
                    <h2 class="box-title">Nuevo servicio</h2>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <div class="text-danger" id="name_validate"></div>
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" name="description" id="description" rows="8"></textarea>
                        <div class="text-danger" id="description_validate"></div>
                    </div>
                </div>
            </div>

            <div class="box box-solid">
                <div class="box-header">
                    <h2 class="box-title">Servicios</h2>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-striped data-table table-hover">
                        <thead>
                            <tr>
                                <th>Ref.</th>
                                <th>Nombre</th>
                                <th>Creado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                                <tr>
                                    <td>{{ service.id }}</td>
                                    <td>{{ service.name }}</td>
                                    <td>{{ service.create }}</td>
                                    <td>
                                        <a href="{{ path('/inkcms/information/service/edit/' ~ service.id) }}" class="btn btn-info btn-flat">Editar</a>
                                        <button type="button" class="btn btn-flat btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="removeBootstrapModal({{ service.id }})">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
    </form>

    <div class="modal fade modal-danger" tabindex="-1" role="dialog" id="mod-remove">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Estrada</h4>
                </div>
                <div class="modal-body">
                    <p>¿Estas seguro de eliminaresta entrada?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No eliminar</button>
                    <button type="button" class="btn btn-danger btn-flat" id="mod-remove-btn" data-value="" onclick="removeEntry('{{ path(removeURL) }}')"><i class="fa fa-trash"></i> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="information" data-l="{{ currentPath }}" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}" data-path="{{ currentPath }}"></div>
{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block javascript %}
    <!-- CKeditor -->
    <script src="{{ asset('inkcms/js/js-ckeditor5-config.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js') }}" type="text/javascript"></script>
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-information.js') }}"></script>
{% endblock %}
