{% extends "Admin/layout.twig" %}

{% block title %} Editar servicio {% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Información
            <small>Editar servicio</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/information/services') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Servicios
                </a>
            </li>
            <li class="active">Editar servicio</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Editar servicio</h2>
            </div>

            <div class="box-body">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ service.name }}">
                    <div class="text-danger" id="name_validate"></div>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" name="description" id="description" rows="8">{{ service.description }}</textarea>
                    <div class="text-danger" id="description_validate"></div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
    </form>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="information" data-l="services"  data-id="{{ service.id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-services.js') }}"></script>
{% endblock %}
