{% extends "Admin/layout.twig" %}

{% block title %}
    {% if act == 1 %}
        Agregar sub-servicio
    {% else %}
        Editar sub-servicio
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Información
            <small>Editar sub-servicio</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/information/subservices') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    sub-Servicios
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Agregar sub-servicio</li>
            {% else %}
                <li class="active">Editar sub-servicio</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

        <div class="box box-primary">
            <div class="box-header">
                {% if act == 1 %}
                    <h2 class="box-title">Agregar sub-servicio</h2>
                {% else %}
                    <h2 class="box-title">Editar sub-servicio</h2>
                {% endif %}
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ subservice.name }}">
                            <div class="text-danger" id="name_validate"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Servicios</label>
                            <select name="service" id="service" class="form-control select2">
                                <option value="">Seleccione una categoría</option>
                                {% for service in services %}
                                    <option value="{{ service.id }}" {{ isSelected(service.id, subservice.services.id) }}>{{ service.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="text-danger" id="service_validate"></div>
                        </div>
                    </div>
                </div>
                

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" name="description" id="description" rows="8">{{ subservice.description }}</textarea>
                    <div class="text-danger" id="description_validate"></div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
    </form>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="information" data-l="subserviceList" data-act="{{ act }}" data-id="{{ subservice.id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- CKeditor -->
    <script src="{{ asset('inkcms/js/js-ckeditor5-config.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js') }}" type="text/javascript"></script>
    <!-- Select2 -->
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-subservices.js') }}"></script>
{% endblock %}
