{% extends "Admin/layout.twig" %}

{% block title %} Editar miembro del equipo {% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Información
            <small>Editar miembro del equipo</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/information/team') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Equipo
                </a>
            </li>
            <li class="active">Editar miembro del equipo</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="frm-member" name="frm-member" method="post" action="">
        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Editar miembro</h2>
            </div>

            <div class="box-body">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ team.name }}">
                    <div class="text-danger" id="name_validate"></div>
                </div>

                <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" class="form-control only-phone" id="phone" name="phone" value="{{ team.phone }}">
                        <div class="text-danger" id="phone_validate"></div>
                </div>

                <div class="form-group">
                    <label>Descripción Corta</label>
                    <textarea class="form-control" name="short_description" id="short_description" rows="4">{{ team.shortDescription }}</textarea>
                    <div class="text-danger" id="short_description_validate"></div>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" name="description" id="description" rows="8">{{ team.description }}</textarea>
                    <div class="text-danger" id="description_validate"></div>
                </div>

                <div class="form-group">
                    <label>Experiencia</label>
                    <textarea class="form-control" name="experience" id="experience" rows="8">{{ team.experience }}</textarea>
                    <div class="text-danger" id="experience_validate"></div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <img class="img-responsive css-marginT20 css-marginB20 css-noFloat center-block" src="{{ team.profileImage }}" alt="">
                    </div>

                    <div class="btn btn-default btn-file css-width100 btn-files-adj center-block" id="img-banner">
                        <i class="far fa-image"></i> <span>Seleccione una imagen</span>
                        <input type="file" name="profile_image" id="profile_image" class="img-section">
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
    </form>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="information" data-l="team"  data-id="{{ team.id }}" data-form="frm-member" data-path="{{ currentPath }}"></div>
{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block javascript %}
    <!-- CKeditor -->
    <script src="{{ asset('inkcms/js/js-ckeditor5-config.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js') }}" type="text/javascript"></script>
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-member.js') }}"></script>
{% endblock %}
