{% extends "Web/layout.twig" %}

{% block title %}Cookies{% endblock %}

{% block body %}
    <!-- 	Top banner-START 	-->
    <div class="contentPadding bg" style="background-image: url('{{ image('web/banner-img2.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="servicesTitle">
                        <div class="cell-view">
                            <h1 class="h1 light as">EL CENTRO</h1>
                            <div class="breadCrumbs small">
                                <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Cookies</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 	Top banner-END 	-->

    <!-- 	Cookies START 	-->
    <div class="contentPadding">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-offset-1 center-block">
                    <div class="aboutOur">

                        <h2>DEVA <span>Psicología y Sexlogía</span></h2>
                        <br>
                        <br>
                        <div class="emptySpace10"></div>
                        <div class="simple-article normall">
                            <p></p>
                        </div>

                        <span>OBJETO:</span>
                        <div class="emptySpace10"></div>
                        <div class="simple-article normall">
                            <p>
                                En DEVA Psicología y Sexlogía utilizamos cookies con el objetivo de prestar un mejor servicio y proporcionarte una mejor experiencia en tu navegación. Queremos informarte de manera clara y precisa sobre las cookies que utilizamos, detallando a continuación, que es una cookie, para que sirve, que tipos de cookies utilizamos, cuales son su finalidad y como puedes configurarlas o deshabilitarlas si así lo deseas.
                                <br><br>
                            </p>
                        </div>

                        <span>DEFINICIÓN DE UNA COOKIE</span>
                        <div class="emptySpace10"></div>
                        <div class="simple-article normall">
                            <p>
                                Una "Cookie" es un pequeño archivo que se almacena en el ordenador del usuario, tablet, smartphone o cualquier otro dispositivo con información sobre la navegación. El conjunto de "cookies" de todos nuestros usuarios nos ayuda a mejorar la calidad de nuestra web, permitiéndonos controlar qué páginas son útiles, cuáles no y cuáles son susceptibles de mejora. Las cookies son esenciales para el funcionamiento de internet, aportando innumerables ventajas en la prestación de servicios interactivos, facilitándote la navegación y usabilidad de nuestra web. En ningún caso las cookies podrían dañar tu equipo. Por contra, el que estén activas nos ayuda a identificar y resolver los errores.
                                <br><br>
                            </p>
                        </div>

                        <span>COOKIES EN ESTA WEB:</span>
                        <div class="emptySpace10"></div>
                        <div class="simple-article normall">
                            <p>
                                DEVA Psicología y Sexlogía utiliza en este sitio web las siguientes cookies que se detallan: Según la entidad que las gestiona: Cookies propias, son aquellas que se envían a tu equipo desde nuestros propios equipos o dominios y desde el que prestamos el servicio que nos solicitas. Cookies de terceros, son aquellas que se envían a tu equipo desde un equipo o dominio que no es gestionado por nosotros, sino por otra entidad colaboradora. Como por ejemplo, las usadas por redes sociales o por Google Analytics.
                                <br><br>
                            </p>
                        </div>

                        <span>SEGÚN SU FINALIDAD:</span>
                        <div class="emptySpace10"></div>
                        <div class="simple-article normall">
                            <p>
                                Cookies estrictamente necesarias, para la prestación de determinados servicios solicitados expresamente por el usuario: si desactivas estas cookies, no podrás recibir correctamente algunos de nuestros contenidos y servicios.
                                <br>
                                <br> Cookies analíticas, para el seguimiento y análisis estadístico del comportamiento del conjunto de los usuarios. Estas cookies nos permiten recolectar datos relacionados con el uso que haces del sitio web, incluido el contenido en el cual haces clic mientras navegas por el sitio web, para mejorar el rendimiento y diseño del sitio web. Estas cookies pueden ser proporcionadas por nuestro proveedor externo de herramientas analíticas, pero se utilizan únicamente para los fines relacionados con nuestros sitios web. En todo caso la identificación de los usuarios siempre es anónima. Cookies de registro, en el Área Privada las Cookies de registro se generarán una vez que te hayas registrado como Usuario o posteriormente al abrir una sesión, y se utilizan para identificar a los Usuarios en los Servicios con los siguientes objetivos:
                                <br>
                                <br> -Mantener al Usuario identificado de forma que, si cierra el Servicio, el navegador o el ordenador y en otro momento u otro día vuelve a entrar en dicho Servicio, seguirá identificado, facilitando así su navegación sin tener que volver a identificarse.
                                <br>
                                <br> -Comprobar si el Usuario está autorizado para acceder a ciertos Servicios.
                                <br>
                                <br> -Adicionalmente, algunos Servicios pueden utilizar conectores con redes sociales tales como Facebook o Twitter. Cuando el Usuario se registra en un Servicio con credenciales de una red social, autoriza a la red social a guardar una Cookie persistente que recuerda su identidad y le garantiza acceso a los Servicios hasta que expira. Configurar o deshabilitar las cookies Puedes permitir, bloquear o eliminar las cookies instaladas en tu equipo mediante la configuración de las opciones de tu navegador de Internet. En caso de que no permitas la instalación de cookies en tu navegador es posible que no puedas acceder a algunos de los servicios y que tu experiencia en nuestra web pueda resultar menos satisfactoria.
                                <br>
                                <br> -Internet Explorer: Herramientas -> Opciones de Internet -> Privacidad -> Configuración. Para más información, puede consultar el soporte de Microsoft o la Ayuda del navegador. Firefox: Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada. Para más información, puede consultar el soporte de Mozilla o la Ayuda del navegador. Chrome: Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido. Para más información, puede consultar el soporte de Google o la Ayuda del navegador. Safari: Preferencias -> Seguridad. Para más información, puede consultar el soporte de Apple o la Ayuda del navegador.
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>

                    <div class="emptySpace-xs30"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 	Cookies END 	-->

    {% include "Web/Overall/maps.twig" %}
{% endblock %}
