
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Raquel Valero - Psicología y Sexología en Valencia</title>
        <meta name="Description" CONTENT=" " />
        <meta name="Keywords" CONTENT="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:300,400,600,700%7CRaleway:400,700,800" rel="stylesheet">

        <link rel="shortcut icon" href="{{ image('web/favicon.ico') }}" />
          <!--    Styles-START 	-->
        <link rel="stylesheet" href="{{ asset('/web/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/web/css/swiper.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/web/css/sumoselect.css') }}">
        <link rel="stylesheet" href="{{ asset('/node_modules/@fortawesome/fontawesome-free/css/all.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/public/assets/plugins/owlcarousel/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/web/css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('/web/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/web/css/css-styles.css') }}" type="text/css" />
        <!--    Styles-END 	-->
        <style>
            #loader-wrapper { position: fixed; left: 0; top: -100px; right: 0; bottom: -100px; background: #fff; z-index: 100; }
        </style>
    </head>
    <!--/head-->

    <body class="homepage2">
        <div id="loader-wrapper"></div>

        <div id="content-block">
            <!-- Header-START -->
            <header class="tt-header header2">
                {% include "Web/Overall/navigation.twig" %}
            </header>
            <!-- Header-END -->

            <div class="headerClearFix headerfix2"></div>
            <!-- 	Main banner swiper-START 	-->
            <div class="swiperMainWrapper mainSwiperbanner index2slider">
                <!-- 	Swiper slider buttons-START 	-->
                <div class="swipert-black-button swiper-button-prev"></div>
                <div class="swipert-black-button swiper-button-next"></div>
                <!-- 	Swiper slider buttons-END 	-->
                <div class="swiper-container" data-auto-height="1" data-effect="fadde" data-speed="600" data-autoplay="5000" data-loop="1">
                    <div class="swiper-wrapper">
                        {% for img in slider %}
                            <div class="homepage5 swiper-slide mainBanner">
                                <div class="sliderBg" style="background-image: url('{{ image('/sliders/' ~ img.image) }}')"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="cell-view">
                                                <div class="rightone">
                                                    <div class="bannerTitle">
                                                        <!-- <h1 class="h1 light as">Hay situaciones en las que, necesitamos ser escuchados</h1>
                                                        <h3>y recibir ayuda profesional.</h3> -->
                                                        <h3>{{ img.content|raw }}</h3>
                                                    </div>

                                                    {% if img.url %}
                                                        <div class="bannerBtnWrapper">
                                                            <a href="{{ img.url }}" class="button btnSize1 ">+ información</a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- 	Main banner swiper-END 	-->

            <div class="strip strip5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="single-content">
                                <div class="icon">
                                    <i class="flaticon1-smartphone-call"></i>
                                </div>

                                <div class="text">
                                    <h4>Cita Previa</h4>
                                    <p>Raquel Valero: 666 474 813
                                    <br>Gloria Sempere: 697 660 173</p>
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="single-content">
                                <div class="icon">
                                    <i class="flaticon1-envelope"></i>
                                </div>

                                <div class="text">
                                    <h4>Mail</h4>
                                    <p>hola@psicologiaysexologia.es</p>
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-content">
                                <div class="icon">
                                    <i class="flaticon2-placeholder"></i>
                                </div>
                                <div class="text">
                                    <h4>Ubicación</h4>
                                    <p>C/ Francisco Martínez, 1-6º-18ª
                                    <br>46020 - Benimaclet (Valencia)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="welcome_consulting">
                <div class="no-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img alt="" src="{{ image('/web/raquel.png') }}" class="img-responsive">
                            </div>

                            <div class="col-md-7">
                                <div class="contentTitle normall css-padding-top120">
                                    <h2>DEVA <span>Psicología y Sexología</span></h2>

							<h4>Deva: Centro de  Psicología y Sexología (INTESEX)</h4>

<p>Mi vida ha sido un continuo trasiego de acá para allá. Me llevaron a Santiago (Chile), siendo muy pequeña  y de adolescente me trajeron de vuelta a mi ciudad natal (Valencia). Mis padres, desde luego. Fui una niña que, siempre, tuvo claro que quería estudiar de mayor. Mi pretensión era hacer dos carreras, que no tenían nada en común: Químicas y Psicología. 
<br><br>
Finalmente, sólo estudié Psicología y nunca me he arrepentido. Me encanta mi trabajo. Hay momentos duros es cierto, pero es tan satisfactorio ver cómo la gente evoluciona. Desde luego, el mérito es de ell@s, principalmente, pero es muy agradable sentir y saber que, de alguna manera, tú has sido partícipe por poco que sea, de lo que se ha logrado o se va logrando… 
<br><br>
Me he formado en casi todos los enfoques terapéuticos, aunque trabajo en Gestalt, preferentemente, con una escucha más analítica, en su trasfondo. A la vez fui a Madrid a Incisex, donde me formé, primero en Educación Sexual, y posteriormente, realicé el Curso Superior de Sexología, convalidado por la Universidad de Alcalá de Henares como Máster, más tarde. En el 2013-14 realicé un Posgrado Universitario en Mediación, aunque esa área la tengo en un segundo lugar. 
<br><br>
Hace 25 años me vine a vivir a Benimaclet, donde vivo feliz. En el 2006 trasladé mi consulta a este encantador lugar, donde junto a mis compañer@s, quiero seguir trabajando y además, viviendo.
</p>
					    </div>

						<h4>Raquel Valero Oltra <em>(Especialista en Psicología Clínica y Sexología)</em></h4>
                                <img alt="" src="{{ image('/web/psign.png') }}" class="img-responsive">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="about3">
                <div class="contentPadding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contentTitle normall">
                                    <h2 class="h2 font-28">¿Que servicios ofrecemos?</h2>
                                    <h3>Disponemos de 2 áreas de interveción principales Psicología  y Sexología que a su vez se dividen en otras áreas. </h3>

                                    <p>Utilizamos diferentes métodos y ténicas según el caso de cada persona, puede conocer nuestros servicios pulsando más info.</p>
                                </div>

                                <div class="listing">
                                    <div class="col-md-6 col-sm-6">
                                        <p></p>
                                        <h4> PISOCOLOGÍA</h4>
                                        <p></p>
                                        <ul>
                                            <li>Psicoterapia de Adultos</li>
                                            <li>Psicoterapia Infanto-juvenil</li>
                                            <li>Psicología Educativa</li>
                                            <li>Logopedia</li>
                                            <li> <a href="{{ path('/psicologia-clinica') }}" class="button btnStyle3">+ info</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <p></p>
                                        <h4>SEXOLOGÍA</h4>
                                        <p></p>
                                        <ul>
                                            <li>Sexología Clínica</li>
                                            <li>Counseling o Asesoramiento</li>
                                            <li>Educación Sexual</li>
                                            <li> <a href="{{ path('/sexologia') }}" class="button btnStyle3">+ info</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentPadding">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="contentTitle normall">
                                <h3 class="h3 as font-28">Últimos artículos del <span>Blog</span></h3>
                            </div>
                        </div>
                        {% for post in lastPosts %}
                            <!-- 	Post {{ post.title }}	-->
                            <div class="col-xs-12 col-sm-4">
                                <div class="tumbWrapper style2">
                                    <div class="imgWrapper">
                                        <img src="{{ post.coverImage }}" alt="">
                                        <div class="timeBlock">{{ post.date }}</div>
                                    </div>
                                    <h6 class="h6 as"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                                    <div class="tumbContent small">
                                        <p>{{ post.content }}</p>
                                    </div>
                                    <a class="readMore" href="{{ post.url }}">+ info</a>
                                </div>
                                <div class="emptySpace-xs30"></div>
                            </div>
                            <!-- 	News1-END 	-->
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% include "Web/Overall/maps.twig" %}
            {% include "Web/Overall/footer.twig" %}
        </div>
        <!--END-->

        <!--    Scripts-START 	-->
        <script src="{{ asset('/web/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/web/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/web/js/swiper.jquery.min.js') }}"></script>
        <script src="{{ asset('/web/js/SmoothScroll.js') }}"></script>
        <script src="{{ asset('/web/js/jquery.sumoselect.min.js') }}"></script>
        <script src="{{ asset('/web/js/simple-lightbox.min.js') }}"></script>
        <script src="{{ asset('/web/js/global.js') }}"></script>
        <!--    Scripts-END 	-->
        <script src="{{ asset('/plugins/owlcarousel/owl.carousel.js') }}"></script>
        <script>
            $(document).on('ready', function() {
                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    margin: 10,
                    nav: true,
                    loop: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 6
                        }
                    }
                });
            });
        </script>
    </body>
</html>
