{% extends "Admin/layout.twig" %}

{% block title %}Agergar / Editar usuarios
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Mi Perfil
            <small>Editar Perfil</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li class="active">Editar perfil</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <div class="row">
            <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Información del usuario</h2>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="text" name="email" id="email" class="form-control" value="{{ user.email }}">
                                    <div class="text-danger" id="email_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Nombre de usuario</label>
                                    <input type="text" name="username" id="username" class="form-control" value="{{ user.username }}">
                                    <div class="text-danger" id="username_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="status" id="status" class="form-control select2">
                                        <option value="">Seleccione un estado</option>
                                        {% for state in status %}
                                            <option value="{{ state.id }}" {{ isSelected(state.id, user.status) }}>{{ state.description }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="text-danger" id="status_validate"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" name="pass" id="pass" class="form-control" value="">
                                    <div class="text-danger" id="pass_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Repita la contraseña</label>
                                    <input type="password" name="repeat_pass" id="repeat_pass" class="form-control" value="">
                                    <div class="text-danger" id="repeat_pass_validate"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header">
                        <h2 class="box-title">Información del usuario
                        </h2>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre(s)</label>
                                    <input type="text" name="name" id="name" class="form-control" value="{{ user.name }}">
                                    <div class="text-danger" id="name_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Apellido(s)</label>
                                    <input type="text" name="last_name" id="last_name" class="form-control" value="{{ user.last_name }}">
                                    <div class="text-danger" id="last_name_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Fecha de nacimiento</label>
                                    <input type="text" name="birthdate" id="birthdate" class="form-control datemask" data-inputmask="'alias': 'dd-mm-yyyy'" data-mask value="{{ user.birthdate}}">
                                    <div class="text-danger" id="birthdate_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>País</label>
                                    <select class="form-control select2" name="country" id="country">
                                        <option value="">Seleccione un país</option>
                                        {% for country in countries %}
                                            <option value="{{ country.id }}" {{ isSelected(country.id, user.country) }}>{{ country.country }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="text-danger" id="country_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input type="text" name="city" id="city" class="form-control" value="{{ user.city }}">
                                    <div class="text-danger" id="city_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Móvil</label>
                                    <input type="text" name="phone_1" id="phone_1" class="form-control only-phone" value="{{ user.phone_1 }}">
                                    <div class="text-danger" id="phone_1_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Número fijo</label>
                                    <input type="text" name="phone_2" id="phone_2" class="form-control only-phone" value="{{ user.phone_2 }}">
                                    <div class="text-danger" id="phone_2_validate"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <textarea class="form-control" name="address_1" id="address_1" rows="8">{{ user.address_1 }}</textarea>
                                    <div class="text-danger" id="address_1_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Dirección 2</label>
                                    <textarea class="form-control" name="address_2" id="address_2" rows="8">{{ user.address_2 }}</textarea>
                                    <div class="text-danger" id="address_2_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Código Postal</label>
                                    <input type="text" name="postal_code" id="postal_code" class="form-control" value="{{ user.postal_code }}">
                                    <div class="text-danger" id="postal_code_validate"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img id="img-cover" class="css-profile-image profile-user-img img-responsive img-circle" src="{{ user.profile_image }}" alt="User profile picture">
                        <!-- <div id="img-cover" class="css-profile-image profile-user-img img-responsive img-circle" style="background-image: url('{{ user.profile_image }}')"></div> -->
                        <h3 class="profile-username text-center">{{ user.name|title ~ " " ~ user.last_name|title }}</h3>
                        <p class="text-muted text-center">{{ user.role.roleName }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Posts</b>
                                <a class="pull-right">0</a>
                            </li>
                            <li class="list-group-item">
                                <b>Comentarios</b>
                                <a class="pull-right">0</a>
                            </li>
                            <li class="list-group-item">
                                <b>Estrellas</b>
                                <a class="pull-right">0</a>
                            </li>
                        </ul>
                    </div>

                    <div class="box-footer">
                        <div class="btn btn-default btn-file btn-flat" id="profile-container" style="width: 100%">
                            <i class="fa fa-camera"></i>
                            Subir foto
                            <input type="file" name="profile_image" id="profile_image" class="profile_image">
                        </div>
                        <div class="text-danger" id="profile_image_validate"></div>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Nota</label>
                            <textarea class="form-control" name="note" id="note" rows="4">{{ user.note }}</textarea>
                            <div class="text-danger" id="note_validate"></div>
                        </div>

                        <div class="form-group">
                            <label>Firma</label>
                            <textarea class="form-control" name="signature" id="signature" rows="4">{{ user.signature }}</textarea>
                            <div class="text-danger" id="signature_validate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-flat pull-left btn-submit">Guardar</button>
    </form>

    <!-- Modal para la imagen de Perfil -->
    <div class="modal fade" tabindex="-1" role="dialog" id="mod-img-cover">
        <div class="modal-dialog modal-lg css-width1100">
            <div class="modal-content">
                <div class="modal-header">
                    Imagen
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" id="ajx-img-cover"></div>
                    <div class="clearfix css-marginB10"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="profile" data-l="profile" data-act="" data-id="" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}
    <!-- InputMask -->
    <link
    rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- Select2 -->
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- InputMask -->
    <script src="{{ asset('plugins/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-profile.js') }}"></script>
{% endblock %}
