{% extends "Admin/layout.twig" %}

{% block title %}Listado de usuarios{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Usuarios
            <small>Listado de usuarios</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li class="active">Usuarios</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <div class="box box-info">
        <div class="box-header">
            <h2 class="box-title">Listado de usuarios</h2>

            <div class="pull-right">
                <a href="{{ path('/inkcms/user/add') }}" class="btn btn-warning btn-flat">Nuevo usuario</a>
            </div>
        </div>

        <div class="box-body">
            <table class="table table-bordered table-striped data-table table-hover">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Nombres</th>
                        <th>Estado</th>
                        <th>País</th>
                        <th>Registrado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.code }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.userInformation.name ~' '~ user.userInformation.lastName }}</td>
                            <td>{{ user.userStatus.description }}</td>
                            <td>{{ user.userInformation.country.country }}</td>
                            <td>{{ user.createAt|date("d-m-Y") }}</td>
                            <td>
                                <a href="{{ path('/inkcms/user/edit/' ~ user.id) }}" class="btn btn-flat btn-info" data-toggle="tooltip" data-placement="top" title="Ver"><i class="fas fa-eye"></i></a>
                                {% if userSession.role == "ROLE_ADMIN" %}
                                    <button type="button" class="btn btn-flat btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="removeBootstrapModal({{ user.id }})">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade modal-danger" tabindex="-1" role="dialog" id="mod-remove">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Usuario</h4>
                </div>
                <div class="modal-body">
                    <p>Estas seguro de eliminar <b>Usuario</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No eliminar</button>
                    <button type="button" class="btn btn-danger btn-flat" id="mod-remove-btn" data-value="" onclick="removeEntry('{{ path('/inkcms/ajax/user/remove') }}')"><i class="fa fa-trash"></i> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="user" data-l="list"></div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- Data Table -->
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- CustomJS -->
    <script src="{{ asset('inkcms/js/js-user-list.js') }}"></script>
{% endblock %}
