{% extends "Admin/layout.twig" %}

{% block title %}Agergar / Editar categoría{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Publicación
            {% if act == 1 %}
                <small>Agregar categoría</small>
            {% else %}
                <small>Editar categoría</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/posts') }}">
                    Publicaciones
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/post/categories') }}">
                    Categorías
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Nueva categoría</li>
            {% else %}
                <li class="active">Editar categoría</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <div class="row">
            <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Categoría de las publicaciones</h2>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="name" id="name" class="form-control" value="{{ category.name }}">
                            <div class="text-danger" id="name_validate"></div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" name="description" id="description" rows="4">{{ category.description }}</textarea>
                                <div class="text-danger" id="description_validate"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Imagen</h2>
                    </div>

                    <div class="box-body">
                        <img id="img-cover" class="img-responsive css-marginT20 css-marginB20 center-block" src="{{ category.coverImage }}" alt="">
                    </div>

                    <div class="box-footer">
                        <div class="btn btn-default btn-file btn-flat" id="profile-container" style="width: 100%">
                            <i class="fa fa-camera"></i> Subir foto
                            <input type="file" name="cover_image" id="cover_image" class="cover_image">
                        </div>
                        <div class="text-danger" id="cover_image_validate"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal para la imagen de Perfil -->
    <div class="modal fade" tabindex="-1" role="dialog" id="mod-img-cover">
        <div class="modal-dialog modal-lg css-width1100">
            <div class="modal-content">
                <div class="modal-header">
                    Imagen
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" id="ajx-img-cover"></div>
                    <div class="clearfix css-marginB10"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="post" data-l="catAdd" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-category.js') }}"></script>
{% endblock %}
