{% extends "Admin/layout.twig" %}

{% block title %}Listado de catgorías{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Publicaciones
            <small>Listado de categorías</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/posts') }}">
                    Publicaciones
                </a>
            </li>
            <li class="active">Categorías</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <div class="box box-info">
        <div class="box-header">
            <h2 class="box-title">Listado de categorías</h2>

            <div class="pull-right">
                <a href="{{ path('/inkcms/post/category/add') }}" class="btn btn-warning btn-flat">Nueva categoría</a>
            </div>
        </div>

        <div class="box-body">
            <table class="table table-bordered table-striped data-table table-hover">
                <thead>
                    <tr>
                        <th>Ref.</th>
                        <th>Nombre</th>
                        <th>Nombre Canónico</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in categories %}
                        <tr>
                            <td>{{ cat.id }}</td>
                            <td>{{ cat.name }}</td>
                            <td>{{ cat.canonicalName }}</td>
                            <td>
                                <a href="{{ path('/inkcms/post/category/edit/' ~ cat.id) }}" class="btn btn-flat btn-info" data-toggle="tooltip" data-placement="top" title="Ver"><i class="fas fa-eye"></i></a>
                                {% if userSession.role == "ROLE_ADMIN" %}
                                    <button type="button" class="btn btn-flat btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="removeBootstrapModal({{ cat.id }})">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade modal-danger" tabindex="-1" role="dialog" id="mod-remove">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Categoría</h4>
                </div>
                <div class="modal-body">
                    <p>Estas seguro de eliminar <b>Categoría</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No eliminar</button>
                    <button type="button" class="btn btn-danger btn-flat" id="mod-remove-btn" data-value="" onclick="removeEntry('{{ path('/inkcms/ajax/post/category/remove') }}')"><i class="fa fa-trash"></i> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="post" data-l="catList"></div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- Data Table -->
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- CustomJS -->
    <script>
        $(function(){
            $('.data-table').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se han encontrado resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se han encontrado resultados",
                    "infoFiltered": "(Se ha filtrado un total de _MAX_ entradas)",
                    "search": "Buscar: ",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                }
            });
        });
    </script>
{% endblock %}
