{% extends "Admin/layout.twig" %}

{% block title %}Agergar / Editar usuarios{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Publicación
            {% if act == 1 %}
                <small>Agregar publicación</small>
            {% else %}
                <small>Editar publicación</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/posts') }}">
                    Publicación
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Nueva publicación</li>
            {% else %}
                <li class="active">Editar publicación</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <div class="row">
            <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Información de la publicación</h2>

                        <div class="pull-right">
                            <div class="form-group">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-flat css-marginR10 btn-primary active css-width100" data-color="primary" data-input="headline">
                                        <i class="state-icon glyphicon glyphicon-check"></i> Titular
                                    </button>
                                    <input class="hidden" type="checkbox" name="headline" id="headline" value="1" {{ isChecked([1], post.headline) }}>
                                </span>
                            </div>
                        </div>

                        <div class="pull-right">
                            <div class="form-group">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-flat css-marginR10 btn-primary active css-width100" data-color="primary" data-input="active">
                                        <i class="state-icon glyphicon glyphicon-check"></i> Habilitada
                                    </button>
                                    <input class="hidden" type="checkbox" name="active" id="active" value="1" {{ isChecked([1], post.active) }}>
                                </span>
                            </div>
                        </div>

                        <div class="pull-right">
                            <div class="form-group">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-flat css-marginR10 btn-primary active css-width100" data-color="primary" data-input="draft">
                                        <i class="state-icon glyphicon glyphicon-check"></i> Borrador
                                    </button>
                                    <input class="hidden" type="checkbox" name="draft" id="draft" value="1" {{ isChecked([1], post.draft) }}>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Título</label>
                                    <input type="text" name="title" id="title" class="form-control" value="{{ post.title }}">
                                    <div class="text-danger" id="title_validate"></div>
                                </div>

                                <div class="form-group">
                                    <label>Tags</label>
                                    <select class="form-control select2" name="tag[]" id="tag" multiple>
                                        {% for tag in tags %}
                                            <option value="{{ tag.id }}" {{ isSelectedMultiple(post.tags, tag.id) }}>{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="text-danger" id="tag_validate"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Categoría</label>
                                    <select class="form-control select2" name="category[]" id="category" multiple>
                                        <option value="" disabled>Seleccione una categoría</option>
                                        {% for cat in categories %}
                                            <option value="{{ cat.id }}" {{ isSelectedMultiple(post.category, cat.id) }}>{{ cat.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="text-danger" id="category_validate"></div>
                                </div>

                                <div class="form-group" id="ajx-subcategory">
                                    <label>Sub-categoría</label>
                                    <select class="form-control select2" name="subcategory[]" id="subcategory" multiple>
                                        {% for sub in subCategories %}
                                            <option value="{{ sub.id }}" {{ isSelectedMultiple(post.subCategory, sub.id) }}>{{ sub.name }}</option>
                                        {% endfor %}
                                        <option value="">Debes seleccionar una categría primero</option>
                                    </select>
                                    <div class="text-danger" id="subcategory_validate"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header">
                        <h2 class="box-title">Contenido</h2>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <textarea class="form-control" name="content" id="content" rows="8">{{ post.content }}</textarea>
                            <div class="text-danger" id="content_validate"></div>
                        </div>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header">
                        <h2 class="box-title">Banner</h2>
                    </div>

                    <div class="box-body">
                        <div class="col-xs-12 text-center">
                            <img class="img-responsive css-marginT20 css-marginB20 css-noFloat center-block" src="{{ post.bannerImage }}" alt="">
                        </div>

                        <div class="btn btn-default btn-file css-width100 btn-files-adj center-block" id="img-banner">
                            <i class="far fa-image"></i> <span>Seleccione una imagen</span>
                            <input type="file" name="banner" id="banner" class="img-section">
                        </div>
                        <div class="text-danger" id="image_validate"></div>
                    </div>
                </div>


            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Imagen</h2>
                    </div>

                    <div class="box-body">
                        <img id="img-cover" class="img-responsive css-marginT20 css-marginB20 center-block" src="{{ post.coverImage }}" alt="">
                    </div>

                    <div class="box-footer">
                        <div class="btn btn-default btn-file btn-flat" id="cover-container" style="width: 100%">
                            <i class="fa fa-camera"></i> Subir foto
                            <input type="file" name="cover_image" id="cover_image" class="cover_image">
                        </div>
                        <div class="text-danger" id="cover_image_validate"></div>
                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h2 class="box-title">Video banner</h2>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <textarea name="video" id="video" class="form-control" rows="8">{{ post.video }}</textarea>
                            <div class="text-danger" id="video_validate"></div>
                        </div>
                    </div>

                    {% if post.video %}
                        <div class="embed-responsive embed-responsive-16by9">
                            {{ post.video|raw }}
                        </div>
                    {% endif %}
                </div>

                <div class="box box-solid">
                    <div class="box-header">
                        <h2 class="box-title">SEO</h2>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label>Título</label>
                            <input type="text" class="form-control" name="seo_title" id="seo_title" value="{{ post.seo.title }}">
                            <div class="text-danger" id="seo_title_validate"></div>
                        </div>

                        <div class="form-group">
                            <label>Autor</label>
                            <input type="text" class="form-control" name="seo_author" id="seo_author" value="{{ post.seo.author }}">
                            <div class="text-danger" id="seo_author_validate"></div>
                        </div>

                        <div class="form-group">
                            <label>URL</label>
                            <input type="text" class="form-control" name="seo_url" id="seo_url" value="{{ post.seo.url }}">
                            <div class="text-danger" id="seo_url_validate"></div>
                        </div>

                        <div class="form-group">
                            <label>Palabras clave</label>
                            <textarea name="seo_keywords" id="seo_keywords" class="form-control" rows="8">{{ post.seo.keywords }}</textarea>
                            <div class="text-danger" id="seo_keywords_validate"></div>
                        </div>

                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea name="seo_description" id="seo_description" class="form-control" rows="8">{{ post.seo.description }}</textarea>
                            <div class="text-danger" id="seo_description_validate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header with-border">
                <h2 class="box-title">Galería de imágenes</h2>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body with-border">
                <div class="col-md-10 css-noFloat center-block text-center well">
                    <div class="btn btn-default btn-file css-width100 btn-file-gallery">
                        <i class="fa fa-camera"></i> <span>Agregar imágenes</span>
                        <input type="file" name="gallery_images[]" id="gallery_images" class="gallery_images" multiple>
                    </div>
                    <p>Las imagenes deben tener mínimo 150 x 100px</p>
                </div>

                <div class="box-footer" id="gallery-body">
                    {% for img in post.gallery %}
                        <div class="col-md-3 css-marginB20 container-thumb">
                            <div class="css-background-image" style="background-image: url('{{ APP_IMG_VIEW_POST ~ "/" ~ post.code ~ "/gallery/min_" ~ img.imageName }}')"></div>
                            <a href="javascript: removeImage(2, '{{ img.id }}')" class="btn btn-danger btn-flat center-block"><i class="fas fa-trash-alt"></i> Eliminar</a>
                            <a href="#" class="btn btn-info btn-flat center-block btn-show" data-image="{{ APP_IMG_VIEW_POST ~ "/" ~ post.code ~ "/gallery/" ~ img.imageName }}"><i class="fas fa-search"></i> Ver imagen</a>
                        </div>
                    {% endfor %}
                </div>

                <div class="row css-marginT40" id="ajx-gallery"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-flat pull-left btn-submit">Guardar</button>
    </form>

    <!-- Modal para la imagen de Perfil -->
    <div class="modal fade" tabindex="-1" role="dialog" id="mod-img-cover">
        <div class="modal-dialog modal-lg css-width1100">
            <div class="modal-content">
                <div class="modal-header">
                    Imagen
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" id="ajx-img-cover"></div>
                    <div class="clearfix css-marginB10"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para la imagen de galería -->
    <div class="modal fade" tabindex="-1" role="dialog" id="mod-image">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Imagen de galería</h4>
                </div>
                <div class="modal-body" id="js-image"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block key %}
    <div class="p-key" data-m="post" data-l="add" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- Select2 -->
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}" type="text/javascript"></script>
    <!-- CKeditor -->
    <script src="{{ asset('inkcms/js/js-ckeditor5-config.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js') }}" type="text/javascript"></script>
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Checkbox -->
    <script src="{{ asset('inkcms/js/js-checkbox.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-post.js') }}"></script>
{% endblock %}
