{% extends "Admin/layout.twig" %}

{% block title %}Listado de publicaciones{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Publicaciones
            <small>Listado de publicaciones</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li class="active">Publicaciones</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <form name="frm-search" id="frm-search" method="post" action="">
        <div class="box box-warning">
            <div class="box-header">
                <h2 class="box-title">Búsqueda avanzada</h2>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pull-left">
                            <div class="form-group">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-flat btn-src css-marginR10 btn-primary active css-width100" data-color="primary" data-input="draft">
                                        <i class="state-icon glyphicon glyphicon-check"></i> Borrador
                                    </button>
                                    <input class="hidden" type="checkbox" name="draft" id="draft" value="1" {{ isChecked([1], search.src_draft) }}>
                                </span>
                            </div>
                        </div>

                        <div class="pull-left">
                            <div class="form-group">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-flat btn-src css-marginR10 btn-primary active css-width100" data-color="primary" data-input="headline">
                                        <i class="state-icon glyphicon glyphicon-check"></i> Titulares
                                    </button>
                                    <input class="hidden" type="checkbox" name="headline" id="headline" value="1" {{ isChecked([1], search.src_headline) }}>
                                </span>
                            </div>
                        </div>

                        <div class="pull-left">
                            <div class="form-group">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-flat btn-src css-marginR10 btn-primary active css-width100" data-color="primary" data-input="active">
                                        <i class="state-icon glyphicon glyphicon-check"></i> Activo
                                    </button>
                                    <input class="hidden" type="checkbox" name="active" id="active" value="1" {{ isChecked([1], search.src_active) }}>
                                </span>
                            </div>
                        </div>

                        <div class="clearfix css-marginB10"></div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Categorias</label>
                            <select class="form-control select2" name="category" id="category" multiple>
                                <option value="">Todas</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {{ isSelectedMultiple(search.src_category, category.id) }}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sub-categorías</label>
                            <select class="form-control select2" name="subcategory" id="subcategory" multiple>
                                <option value="">Todas</option>
                                {% for subcategory in subcategories %}
                                    <option value="{{ subcategory.id }}" {{ isSelectedMultiple(search.src_subcategory, subcategory.id) }}>{{ subcategory.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row css-marginT10">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tags</label>
                            <select class="form-control select2" name="tags" id="tags" multiple>
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}" {{ isSelectedMultiple(search.src_tags, tag.id) }}>{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Escrito por</label>
                            <select class="form-control select2" name="user" id="user">
                                <option value="">Todos</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}" {{ isSelected(search.src_user, user.id) }}>{{ user.userInformation.name ~ " " ~ user.userInformation.lastName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="css-bold css-text-black">Fecha de creación</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control js-date" name="start_date" id="start_date" data-inputmask="'alias': 'dd-mm-yyyy'" data-mask placeholder="Desde" value="{{ search.src_start_date }}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control js-date" name="end_date" id="end_date" data-inputmask="'alias': 'dd-mm-yyyy'" data-mask placeholder="Hasta" value="{{ search.src_end_date }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="button" class="btn btn-warning btn-flat btn-reset"><i class="fa fa-brush"></i> Limpiar formulario</button>
                <button type="submit" class="btn btn-primary btn-flat pull-right"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </div>
    </form>

    <div class="js-alert">{{ flash|raw }}</div>

    <div class="box box-info">
        <div class="box-header">
            <h2 class="box-title">Listado de publicaciones</h2>

            <div class="pull-right">
                <a href="{{ path('/inkcms/post/add') }}" class="btn btn-warning btn-flat">Nueva publicación</a>
            </div>
        </div>

        <div class="box-body">
            <table class="table table-bordered table-striped data-table table-hover">
                <thead>
                    <tr>
                        <th>Ref.</th>
                        <th>Título</th>
                        <th>Escrito por</th>
                        <th>Categorías</th>
                        <th>Sub-categorías</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Creado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.user.userInformation.name ~ " " ~ post.user.userInformation.lastName }}</td>
                            <td>
                                {% for cat in post.postCategory %}
                                    <span class="label label-primary">{{ cat.name }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% for sub in post.postSubCategory %}
                                    <span class="label label-primary">{{ sub.name }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% if post.draft %}
                                    <span class="label label-warning">Borrador</span>
                                {% else %}
                                    <span class="label label-info">Publicación</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if post.active %}
                                    <span class="label label-success">Activa</span>
                                {% else %}
                                    <span class="label label-danger">Inactiva</span>
                                {% endif %}
                            </td>
                            <td>{{ post.createAt|date("d-m-Y") }}</td>
                            <td>
                                <a href="{{ path('/inkcms/post/edit/' ~ post.id) }}" class="btn btn-flat btn-info" data-toggle="tooltip" data-placement="top" title="Ver"><i class="fas fa-eye"></i></a>
                                {% if userSession.role == "ROLE_ADMIN" %}
                                    <button type="button" class="btn btn-flat btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="removeBootstrapModal({{ post.id }})">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade modal-danger" tabindex="-1" role="dialog" id="mod-remove">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Publicación</h4>
                </div>
                <div class="modal-body">
                    <p>Estas seguro de eliminar <b>Publicación</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No eliminar</button>
                    <button type="button" class="btn btn-danger btn-flat" id="mod-remove-btn" data-value="" onclick="removeEntry('{{ path('/inkcms/ajax/post/remove') }}')"><i class="fa fa-trash"></i> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="post" data-l="list"></div>
{% endblock %}

{% block stylesheet %}
    <!-- DateTables -->
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- Data Table -->
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- Checkbox -->
    <script src="{{ asset('inkcms/js/js-checkbox.js') }}" type="text/javascript"></script>
    <!-- Select2 -->
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}" type="text/javascript"></script>
    <!-- InputMask -->
    <script src="{{ asset('plugins/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
    <!-- CustomJS -->
    <script src="{{ asset('inkcms/js/js-post-list.js') }}"></script>
{% endblock %}
