{% extends "Admin/layout.twig" %}

{% block title %}Editar comentario{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Publicación
            {% if act == 1 %}
                <small>Agregar comentario</small>
            {% else %}
                <small>Editar comentario</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/posts') }}">
                    Publicaciones
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/post/comments') }}">
                    Listado de comentarios
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Nueva comentario</li>
            {% else %}
                <li class="active">Editar comentario</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <div class="row">
            <input type="hidden" name="t_form" id="t_form" value="{{ token }}">
            <input type="hidden" name="p" id="p" value="{{ comment.post.id }}">

            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Comentario - <i class="fas fa-clock"></i> {{ comment.createAt|date('d-m-Y H:i:s') }}</h2>

                        <div class="pull-right">
                            <div class="form-group">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-flat css-marginR10 btn-primary active css-width100" data-color="primary" data-input="active">
                                        <i class="state-icon glyphicon glyphicon-check"></i> Habilitada
                                    </button>
                                    <input class="hidden" type="checkbox" name="active" id="active" value="1" {{ isChecked([1], comment.active) }}>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label>Nombres</label>
                            <input type="text" name="names" id="names" class="form-control" value="{{ comment.names }}">
                            <div class="text-danger" id="names_validate"></div>
                        </div>

                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="text" name="email" id="email" class="form-control" value="{{ comment.email }}">
                            <div class="text-danger" id="email_validate"></div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label>Comentario</label>
                                <textarea class="form-control" name="comment" id="comment" rows="4">{{ comment.comment }}</textarea>
                                <div class="text-danger" id="comment_validate"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Publicación</h2>
                    </div>

                    <div class="box-body text-center">
                        <a href="{{ path('/inkcms/post/edit/' ~ comment.post.id) }}" target="_blank">
                            <h2>{{ comment.post.title }}</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal para la imagen de Perfil -->
    <div class="modal fade" tabindex="-1" role="dialog" id="mod-img-cover">
        <div class="modal-dialog modal-lg css-width1100">
            <div class="modal-content">
                <div class="modal-header">
                    Imagen
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" id="ajx-img-cover"></div>
                    <div class="clearfix css-marginB10"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="post" data-l="commentAdd" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Checkbox -->
    <script src="{{ asset('inkcms/js/js-checkbox.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-comment.js') }}"></script>
{% endblock %}
