{% extends "Admin/layout.twig" %}

{% block title %}Agergar / Editar subcategoría{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Publicación
            {% if act == 1 %}
                <small>Agregar sub-categoría</small>
            {% else %}
                <small>Editar sub-categoría</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/posts') }}">
                    Publicaciones
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/post/subcategories') }}">
                    Sub-categorías
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Nueva sub-categoría</li>
            {% else %}
                <li class="active">Editar sub-categoría</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Sub-categoría de las publicaciones</h2>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="name" id="name" class="form-control" value="{{ subcategory.name }}">
                            <div class="text-danger" id="name_validate"></div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label>Categorías</label>
                                <select name="category" id="category" class="form-control select2">
                                    <option value="">Seleccione una categoría</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}" {{ isSelected(category.id, subcategory.category) }}>{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="text-danger" id="category_validate"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" name="description" id="description" rows="4">{{ subcategory.description }}</textarea>
                                <div class="text-danger" id="description_validate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
    </form>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="post" data-l="subCatAdd" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- Select2 -->
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-subcategory.js') }}"></script>
{% endblock %}
