{% extends "Admin/layout.twig" %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Dashboard
            <small>Pantalla principal del dashboard</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li class="active">Inicio</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ cnt_post }}</h3>

                    <p>Publicaciones</p>
                </div>
                <div class="icon">
                    <i class="fas fa-bullhorn"></i>
                </div>
                <a class="small-box-footer" href="#">Más información
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ cnt_category }}</h3>

                    <p>Categorías</p>
                </div>
                <div class="icon">
                    <i class="fas fa-cubes"></i>
                </div>
                <a class="small-box-footer" href="#">Más información
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ cnt_users }}</h3>

                    <p>Usuario registrados</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a class="small-box-footer" href="#">Más información
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>0</h3>

                    <p>Comentarios</p>
                </div>
                <div class="icon">
                    <i class="fas fa-comments"></i>
                </div>
                <a class="small-box-footer" href="#">Más información
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="dashboard" data-l=""></div>
{% endblock %}