<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inicio de sesión | INK CMS</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}" type="text/css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('inkcms/css/AdminLTE.min.css') }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('plugins/iCheck/square/blue.css') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <link href="{{ asset('inkcms/css/css-styles.css') }}" rel="stylesheet">
    </head>

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="#"><img src="{{ image('/logos/logo-white.png') }}" alt=""></a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Iniciar Sesión</p>
                <div class="js-alert">
                    {% if alert %}
                        <div class="alert alt-alert alert-danger" role="alert"> {{ alert }} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                    {% endif %}
                </div>

                <form name="frm-login" id="frm-login" method="post" action="">
                    <input type="hidden" name="t_form" id="t_form" value="{{ token }}">
                    <div class="form-group has-feedback">
                        <input type="text" name="user_email" id="user_email" class="form-control" placeholder="Usuario / E-mail">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <div class="text-danger" id="user_email_validate"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <div class="text-danger" id="password_validate"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 pull-right">
                            <button type="submit" class="btn btn-primary btn-block btn-flat btn-submit">Iniciar sesión</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a href="#">Olvide mi contraseña</a><br>
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

        <!-- jQuery 3 -->
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- iCheck -->
        <script src="{{ asset('plugins/iCheck/icheck.min.js') }}"></script>
        <!-- jQuery validation -->
        <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
        <!-- Paths -->
        <script src="{{ asset('inkcms/js/__paths.js') }}" type="text/javascript"></script>
        <!-- Login JS -->
        <script src="{{ asset('inkcms/js/js-login.js') }}" type="text/javascript"></script>
    </body>
</html>
