{% extends "Web/layout.twig" %}

{% block title %}Publicaciones{% endblock %}

{% block body %}
<!-- 	Top banner-START 	-->
<div class="contentPadding bg" style="background-image: url('{{ image('web/banner-img2.jpg') }}')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="servicesTitle">
                    <div class="cell-view">
                        <h1 class="h1 light as">BLOG</h1>
                        <div class="breadCrumbs small">
                            <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 	Top banner-END 	-->

<div class="contentPadding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="mobileSearch large">
                    Buscar
                    <i class="fa fa-angle-down"></i>
                </div>
                <aside class="blogAside">
                    <div class="searchWrapper">
                        <input class="simple-input" type="text" placeholder="Buscar">
                        <button class="searchBtn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <!-- 	Category-START 	-->
                    <div class="recentTitle">
                        <h5 class="h5 as">Categorias</h5>
                    </div>
                    <ul class="categoriesList normall">
                        {% for cat in categories %}
                            <li><a href="{{ cat.canonicalName }}">{{ cat.name }}</a> <i class="fa fa-angle-right"></i></li>
                        {% endfor %}
                    </ul>

                    <!-- 	Category-END 	-->

                    <!-- 	Recent news-START-->
                    <div class="recentTitle">
                        <h5 class="h5 as">Más recientes</h5>
                    </div>

                    {% for post in lastPost %}
                        <div class="recentNewsBlock normall">
                            <div class="recentNews">
                                <a href="blog.html#">{{ post.title }}</a>
                                <span>{{ post.createAt|date("d/m/Y") }}</span>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- 	Recent news-START-->
                    <div class="emptySpace30 emptySpace-xs10"></div>
                    <!-- 	Tags-START 	-->
                    <div class="recentTitle">
                        <h5 class="h5 as">TAGS/ETIQUETAS</h5>
                    </div>

                    {% for tag in tags %}
                        <a href="#" class="tags small">{{ tag.name }}</a>
                    {% endfor %}

                    <!-- 	Tags-END 	-->
                    <div class="emptySpace-xs30"></div>
                </aside>
            </div>


            <div class="col-sm-12 col-md-9">
                <div class="mainBlogContent">
                    {% for post in posts %}
                        <!-- 	Blog1-START 	-->
                        <div class="blogWrapper">
                            <a href="{{ path('/' ~ post.seo.url) }}" class="imgWrapper blogThumbnail">
                                <img src="{{ post.coverImage }}" alt="">
                                <span class="timeBlock">{{ post.date }}</span>
                            </a>
                            <div class="blogInfo">
                                <p><i class="fa fa-user"></i> {{ post.seo.author }}</p>
                                <p><i class="fa fa-tag"></i>
                                    {% for cat in post.categories %}
                                        {% if not loop.last %}
                                            {{ cat.name }},
                                        {% else %}
                                            {{ cat.name }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p><i class="fa fa-comments-o"></i> comentarios: <span>{{ post.cnt_comments }}</span></p>
                            </div>
                            <div class="blogContent">
                                <h5 class="h5 as"><a href="{{ path('/' ~ post.seo.url) }}">{{ post.title }}</a></h5>
                                <div class="simple-article normall">
                                    <p>{{ post.content }}</p>
                                </div>
                            </div>
                            <a href="{{ path('/' ~ post.seo.url) }}" class="button">Leer más</a>
                        </div>
                        <!-- 	Blog1-END 	-->
                        <div class="emptySpace80 emptySpace-xs30"></div>
                    {% endfor %}

                    <div class="emptySpace90 emptySpace-xs30"></div>

                    <!-- 	Page pagitaion-START 	-->
                    {{ pagination|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
