{% extends "Web/layout.twig" %}

{% block body %}
<!-- 	Top banner-START 	-->
<div class="contentPadding bg" style="background-image: url('{{ image('web/banner-img2.jpg') }}')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="servicesTitle">
                    <div class="cell-view">
                        <h1 class="h1 light as">BLOG</h1>
                        <div class="breadCrumbs small">
                            <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 	Top banner-END 	-->

<div class="contentPadding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="mobileSearch large">
                    Buscar
                    <i class="fa fa-angle-down"></i>
                </div>
                <aside class="blogAside">
                    <div class="searchWrapper">
                        <input class="simple-input" type="text" placeholder="Buscar">
                        <button class="searchBtn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <!-- 	Category-START 	-->
                    <div class="recentTitle">
                        <h5 class="h5 as">Categorias</h5>
                    </div>
                    <ul class="categoriesList normall">
                        {% for cat in categories %}
                            <li><a href="{{ cat.canonicalName }}">{{ cat.name }}</a> <i class="fa fa-angle-right"></i></li>
                        {% endfor %}
                    </ul>

                    <!-- 	Recent news-START-->
                    <div class="recentTitle">
                        <h5 class="h5 as">Más recientes</h5>
                    </div>

                    {% for post in lastPost %}
                        <div class="recentNewsBlock normall">
                            <div class="recentNews">
                                <a href="blog.html#">{{ post.title }}</a>
                                <span>{{ post.createAt|date("d/m/Y") }}</span>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- 	Recent news-START-->
                    <div class="emptySpace30 emptySpace-xs10"></div>
                    <!-- 	Tags-START 	-->
                    <div class="recentTitle">
                        <h5 class="h5 as">TAGS/ETIQUETAS</h5>
                    </div>

                    {% for tag in tags %}
                        <a href="#" class="tags small">{{ tag.name }}</a>
                    {% endfor %}

                    <!-- 	Tags-END 	-->
                    <div class="emptySpace-xs30"></div>
                </aside>
            </div>


            <div class="col-sm-12 col-md-9">
                <div class="mainBlogContent">
                    <!-- 	Blog1-START 	-->
                    <div class="blogWrapper">
                        <a href="blog_detalle.php" class="imgWrapper blogThumbnail">
                            {% if post.banner %}
                                <img src="{{ post.banner }}" alt="{{ post.title }}">
                            {% elseif post.coverImage %}
                                <img src="{{ post.banner }}" alt="{{ post.title }}">
                            {% endif %}
                            <span class="timeBlock">{{ post.create }}</span>
                        </a>
                        <div class="blogInfo">
                            <p><i class="fa fa-user"></i> {{ post.seo.author }}</p>
                            <p>
                                <i class="fa fa-tag"></i>
                                {% for cat in post.category %}
                                    {% if not loop.last %}
                                        {{ cat.name }},
                                    {% else %}
                                        {{ cat.name }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p><i class="fa fa-comments-o"></i> comentarios: <span>{{ post.cnt_comments }}</span></p>
                        </div>

                        <div class="blogContent normall">
                            {{ post.content|raw }}
                        </div>

                        <hr>

                        <h3 class="css-marginB30">Comentarios</h3>

                        <div class="js-comments">
                            {% for comment in comments %}
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="{{ image('/no_images/profile.jpg') }}" alt="{{ comment.names }}" width="64">
                                        </a>
                                    </div>

                                    <div class="media-body css-justify" style="line-height: 17px;">
                                        <p class="media-heading pull-left">{{ comment.names }}</p>
                                        <p class="pull-right"><i class="fas fa-clock"></i> {{ comment.createAt|date('d-m-Y H:i') }}</p>
                                        <div class="clearfix"></div>
                                        {{ comment.comment }}
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>

                        <div class="js-alert"></div>

                        <form name="frm-comment" id="frm-comment" method="POST" action="">
                            <input type="hidden" name="p" id="p" value="{{ post.id }}">
                            <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="css-marginB10">Nombres:</label>
                                        <input type="text" class="form-control" name="names" id="names">
                                        <div class="text-danger" id="names-validate"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="css-marginB10">E-mail:</label>
                                        <input type="text" class="form-control" name="email" id="email">
                                        <div class="text-danger" id="email-validate"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="css-marginB10">Comentario:</label>
                                        <textarea name="comment" id="comment" class="form-control" rows="10"></textarea>
                                        <div class="text-danger" id="comment-validate"></div>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-submit btn-flat"><i class="fas fa-comments"></i> Comentar</button>
                                </div>
                            </div>
                        </form>
                    </divcla>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheet %}
    <!-- CK editor style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('web/css/CKeditor-content-styles.css') }}" />
{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('/bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('/web/js/js-post.js') }}"></script>
{% endblock %}
