{% extends "Admin/layout.twig" %}

{% block title %}Agergar / Editar usuarios{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Slider
            {% if act == 1 %}
                <small>Agregar imagen</small>
            {% else %}
                <small>Editar imagen</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/posts') }}">
                    Slider
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Nueva imagen</li>
            {% else %}
                <li class="active">Editar imagen</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title">Información del Slider</h2>
            </div>

            <div class="box-body">
                <div class="form-group">
                    <label>URL</label>
                    <input type="text" name="url" id="url" class="form-control" value="{{ slider.url }}">
                    <div class="text-danger" id="url_validate"></div>
                </div>

                <div class="form-group">
                    <label>Contenido</label>
                    <textarea name="content" id="content" class="form-control" rows="10">{{ slider.content }}</textarea>
                    <div class="text-danger" id="content_validate"></div>
                </div>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h2 class="box-title">Imagen</h2>
            </div>

            <div class="box-body">
                <div class="col-xs-12 text-center">
                    <img class="img-responsive css-marginT20 css-marginB20 css-noFloat center-block" src="{{ slider.image }}" alt="">
                </div>

                <div class="btn btn-default btn-file css-width100 btn-files-adj center-block" id="img-banner">
                    <i class="far fa-image"></i> <span>Seleccione una imagen</span>
                    <input type="file" name="banner" id="banner" class="img-section">
                </div>
                <div class="text-danger" id="image_validate"></div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-success btn-flat pull-left btn-submit">Guardar</button>
    </form>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="slider" data-l="add" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-slider.js') }}"></script>
{% endblock %}
