	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/02/2017 16:58
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon-.eot#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("http://designarc.biz/demos/Psycholox/css/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-gestures:before { content: "\f100"; }
.flaticon-interface:before { content: "\f101"; }
.flaticon-social:before { content: "\f102"; }
.flaticon-technology:before { content: "\f103"; }
.flaticon-technology-1:before { content: "\f104"; }
	/**

 New Fonts to add

 */

@font-face {
  font-family: "Flaticon1";
  src: url("../fonts/Flaticon1.eot");
    src: url("../fonts/Flaticon1-.eot#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon1.woff") format("woff"),
        url("../fonts/Flaticon1.ttf") format("truetype"),
        url("../fonts/Flaticon1.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon1";
    src: url("http://designarc.biz/demos/Psycholox/css/.../fonts/Flaticon1.svg#Flaticon") format("svg");
  }
}

[class^="flaticon1-"]:before, [class*=" flaticon1-"]:before,
[class^="flaticon1-"]:after, [class*=" flaticon1-"]:after {   
    font-family: Flaticon1;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;   
}

.flaticon1-envelope:before { content: "\f100"; }
.flaticon1-smartphone-call:before { content: "\f101"; }



	/**

 New Fonts to add

 */

@font-face {
  font-family: "Flaticon2";
  src: url("../fonts/Flaticon2.eot");
    src: url("../fonts/Flaticon2-.eot#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon2.woff") format("woff"),
        url("../fonts/Flaticon2.ttf") format("truetype"),
        url("../fonts/Flaticon2.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("http://designarc.biz/demos/Psycholox/css/.../fonts/Flaticon2.svg#Flaticon") format("svg");
  }
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {   
    font-family: Flaticon2;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;   
}

.flaticon2-placeholder:before { content: "\f100"; }

	/**

 New Fonts to add

 */

@font-face {
  font-family: "Flaticon3";
  src: url("../fonts/Flaticon3.eot");
    src: url("../fonts/Flaticon3-.eot#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon3.woff") format("woff"),
        url("../fonts/Flaticon3.ttf") format("truetype"),
        url("../fonts/Flaticon3.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon3";
    src: url("http://designarc.biz/demos/Psycholox/css/.../fonts/Flaticon3.svg#Flaticon") format("svg");
  }
}

[class^="flaticon3-"]:before, [class*=" flaticon3-"]:before,
[class^="flaticon3-"]:after, [class*=" flaticon3-"]:after {   
    font-family: Flaticon3;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;   
}

.flaticon3-telephone-auricular-with-cable:before { content: "\f100"; }

	/**

 New Fonts to add

 */

@font-face {
  font-family: "Flaticon4";
  src: url("../fonts/Flaticon4.eot");
    src: url("../fonts/Flaticon4-.eot#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon4.woff") format("woff"),
        url("../fonts/Flaticon4.ttf") format("truetype"),
        url("../fonts/Flaticon4.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon4";
    src: url("http://designarc.biz/demos/Psycholox/css/.../fonts/Flaticon4.svg#Flaticon") format("svg");
  }
}

[class^="flaticon4-"]:before, [class*=" flaticon4-"]:before,
[class^="flaticon4-"]:after, [class*=" flaticon4-"]:after {   
    font-family: Flaticon4;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;   
}

.flaticon4-speaking:before { content: "\f100"; }

