{% extends "Admin/layout.twig" %}

{% block title %}Agergar / Editar subcategoría{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            SEO
            {% if act == 1 %}
                <small>Agregar SEO</small>
            {% else %}
                <small>Editar SEO</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/seo') }}">
                    SEO
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Nuevo SEO</li>
            {% else %}
                <li class="active">Editar SEO</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">SEO</h2>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="title" id="title" class="form-control" value="{{ seo.title }}">
                            <div class="text-danger" id="title_validate"></div>
                        </div>

                        <div class="form-group">
                            <label>Autor</label>
                            <input type="text" name="author" id="author" class="form-control" value="{{ seo.author }}">
                            <div class="text-danger" id="author_validate"></div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label>Sección</label>
                                <select name="section" id="section" class="form-control select2">
                                    <option value="">Seleccione una sección</option>
                                    {% for section in seoSections %}
                                        <option value="{{ section.id }}" {{ isSelected(section.id, seo.seoSection.id) }}>{{ section.section }}</option>
                                    {% endfor %}
                                </select>
                                <div class="text-danger" id="section_validate"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" name="description" id="description" rows="4">{{ seo.description }}</textarea>
                                <div class="text-danger" id="description_validate"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label>Palabras clave</label>
                                <textarea class="form-control" name="keywords" id="keywords" rows="4">{{ seo.keywords }}</textarea>
                                <div class="text-danger" id="keywords_validate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
    </form>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="seo" data-l="add" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- Select2 -->
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-seo.js') }}"></script>
{% endblock %}
