{% extends "Web/layout.twig" %}

{% block title %}Psicología Educativa y Logopedia{% endblock %}

{% block body %}
    <!-- Top banner-START -->
    <div class="contentPadding bg" style="background-image: url('{{ image('/web/banner-img2.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="servicesTitle">
                        <div class="cell-view">
                            <h1 class="h1 light as">PSICOLOGÍA</h1>
                            <div class="breadCrumbs small">
                                <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Psicología Educativa y logopedia</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top banner-END -->

    <div class="contentPadding">
        <div class="container">
            <div class="row">
                {% include "Web/Overall/psychology-side.twig" %}

                <div class="col-sm-12 col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
                    <div class="mainServicesContent">
                        <div class="blogWrapper">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/psicologia1.jpg') }}" alt="Psicologia">
                                    </div>
                                    <div class="emptySpace-xs20"></div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/psicologia2.jpg') }}" alt="Psicologia">
                                    </div>
                                </div>
                            </div>

                            <div class="emptySpace50 emptySpace-xs30"></div>

                            <div class="blogContent">
                                <div class="simple-article normall">
                                    <h5>PSICOLOGÍA EDUCATIVA Y LOGOPEDIA</h5>

                                    <p>
                                        Durante la infancia y la adolescencia, el ámbito escolar es una de las áreas donde pasan gran parte de su crecimiento y evolución. Pasan largos periodos dentro del sistema educativo y este ámbito pasa a ser de gran importancia para su desarrollo y posterior evolución. Aquí será donde empiezan sus relaciones sociales con iguales y será de gran relevancia que se muevan con seguridad y confianza, tanto a nivel relacional como en el área del aprendizaje. La falta de medios y de profesionales dentro de la población educativa, obliga a padres y profesores a solicitar una evaluación y tratamiento externos para el mejor desarrollo y evolución de estos infantes o adolescentes. Pueden ser problemas puntuales en el desarrollo, en la relación con sus iguales u otros, o por posibles problemas o dificultades en el aprendizaje. 
                                        <br><br>
                                        Las dificultades específicas del aprendizaje son la primera causa de bajo rendimiento académico y fracaso escolar. 
                                        <br><br>
                                        En Logopedia, partimos de una premisa inexcusable, y es que l@s niñ@s tienen características, debilidades y fortalezas que la terapeuta conocerá para hacer más productiva la intervención. De esta manera, la terapia se transforma en una actividad dinámica donde la logopeda conoce las particularidades de la persona para adaptar las actividades/pautas a cada paciente en concreto.
                                        <br><br>
                                        En definitiva, el objetivo de la terapia logopédica es mejorar las capacidades de aprendizaje y producción del lenguaje cuyo fin es ganar en calidad de vida.
                                    </p>
                                
                                    <p>	
                                        <h6>Áreas de intervención en este ámbito:</h6>
                                        <ul>
                                            <li>Dificultades de aprendizaje: Dislexia, disgrafía y disortografía.</li>
                                            <li>Déficit en comprensión, producción y uso del lenguaje.</li>
                                            <li>Déficit de Atención e Hiperactividad. </li>
                                            <li>Bajo rendimiento o fracaso escolar.</li>
                                            <li>Técnicas de estudio.</li>
                                            <li>Orientación y apoyo a las familias.</li>
                                        </ul>
                                        <hr>
                                    </p>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}