{% extends "Web/layout.twig" %}

{% block title %}Psicoterapia infanto-juvenil{% endblock %}

{% block body %}
    <!-- 	Top banner-START 	-->
    <div class="contentPadding bg" style="background-image: url('{{ image('/web/banner-img2.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="servicesTitle">
                        <div class="cell-view">
                            <h1 class="h1 light as">PSICOLOGÍA</h1>
                            <div class="breadCrumbs small">
                                <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Psicoterapia infanto-juvenil</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 	Top banner-END 	-->

    <div class="contentPadding">
        <div class="container">
            <div class="row">
                {% include "Web/Overall/psychology-side.twig" %}

                <div class="col-sm-12 col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
                    <div class="mainServicesContent">
                        <div class="blogWrapper">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/psicologia1.jpg') }}" alt="Psicologia">
                                    </div>
                                    <div class="emptySpace-xs20"></div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="imgWrapper">
                                        <img src="{{ image('/web/psicologia2.jpg') }}" alt="Psicologia">
                                    </div>
                                </div>
                            </div>

                            <div class="emptySpace50 emptySpace-xs30"></div>

                            <div class="blogContent">
                                <div class="simple-article normall">
                                    <h5>PSICOTERAPIA INFANTO-JUVENIL</h5>
                                    <p>La psicoterapia infanto-juvenil requiere una atención centrada en el proceso evolutivo en el que se encuentra el/la niño/a o adolescente, ya que se encuentran en pleno desarrollo físico, psicológico, social... La psicoterapia a estas edades requiere de la utilización de diversas técnicas, tanto expresivas como cognitivas, adaptadas al estadio evolutivo del o de la infante o adolescente. Siguiendo modelos Humanistas, en general, donde nos encontraremos con diferentes enfoques, especialmente el Gestáltico, nos centramos en el momento presente, sin perder de vista todo lo acontecido, anteriormente, y en todas las circunstancias habidas o probables. Se tratará al o la infante o adolescente, como un ser individual, que necesita una atención personalizada y propia, sin perder de vista, sus familiares más cercanos, a l@s que se les solicitará que acudan a consulta, en algunas ocasiones y que colaboren y participen, si fuera necesaria ésta.</p>
                                    <img src="{{ image('/web/stress-img3.jpg') }}" alt="estres" class="float_right">

                                    <p>
                                        Cada vez, con bases más científicas y seriamente avaladas por estudios o investigaciones podemos constatar de la importancia de los primeros años de vida, en la vida futura de ést@s y en las consecuencias que puede acarrear problemas no resueltos o expresados en la infancia o la adolescencia. Como refleja la frase ‘Cuidar a un niño evitará un adulto enfermo’, trabajamos desde esta premisa.<br><br>
                                        Un desequilibrio o malestar emocional durante la infancia o la adolescencia puede tener unas consecuencias importantes a largo plazo, por lo que es de suma importancia que se preste atención a esta sintomatología. Podemos observar cambios en la conducta, en el estado de ánimo, que pueden estar asociados al proceso evolutivo en el que se encuentre o a  situaciones contextuales y no normativas como el nacimiento de un hermano, separación de los padres o alguna pérdida importante, y un largo etcétera, que puede afectar de modo subjetivo a cada ser.<br><br>
                                        En el proceso terapéutico tanto en la infancia como la adolescencia, es necesario que se contemple todo el entorno, que se plantee desde <strong>“una visión holística”</strong>, donde las madres, padres, profesor@s o resto de familiares o personas que les circundan, tendrán una importancia considerable en éste.  A veces, sólo se precisará de un asesoramiento a los padres o personas <strong>al cargo de ést@s,</strong> ya que los problemas que presentan, pueden ser síntomas debidos a la etapa evolutiva o a cuestiones puntuales, que surgen del propio sistema familiar y/o educativo. En otras ocasiones, el proceso terapéutico se centrará, preferentemente, <strong>en la psicoterapia familiar,</strong> donde la intervención irá encaminada a ejercer cambios que permitan una buena convivencia y relación,  contemplar el lugar que tiene cada miembro en ésta,  situar la problemática  y reestablecer el equilibrio y el bienestar.<br><br>
                                        Pero en ocasiones el problema puede requerir otro planteamiento, debiéndose crear un espacio, donde el/la niño/a se sienta seguro/a para poderse expresar libremente, a través de diferentes técnicas y estrategias. Ahí está la función del o de la psicoterapeuta como adulto externo a él/ella y a su entorno que le proporcionará confianza y seguridad que necesita para avanzar en su camino. A través del dibujo, del juego, del movimiento, de la música, la creatividad…etc., el/la niño/a o adolescente tiene la oportunidad de expresar lo que necesite o le surja espontáneamente.<br><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}