<div class="contentPadding grey colorBlack" id="Contacto">
    <div class="contactBg bgShadow style2" style="background-image: url('{{ image('/web/bg-layer.jpg') }}')"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="contactContent normall">
                    <span>Cita Previa</span><br>
                    <span>Raquel Valero :</span> <p>: 666 474 813</p>
                    <div class="emptySpace5"></div>
                    <span>Gloria Sempere :</span> <p>697 660 173</p>
                    <div class="emptySpace5"></div>
                    <span>1º Cita</span>
                    <p>Primera cita concertada gratuita en formato de entrevista, duración de 15 min, aproximadamente.</p>
                </div>

                <div class="emptySpace30"></div>
                <div class="contactContent normall">
                    <span>DEVA: PSICOLOGÍA Y SEXOLOGÍA</span>
                    <p>C/ Francisco Martínez, 1-6º-18ª, 46020 - Benimaclet (Valencia).</p>
                    <p>Próxima apertura de una segunda dirección.</p>
                </div>
                <div class="emptySpace30"></div>
                <div class="contactContent normall">
                    <span>Horario:</span>
                    <p>De lunes a viernes (mañanas y tardes).<br>
                    Sábado mañana, con cita previa.<br>
                    Algunas actividades pueden realizarse durante todo un sábado.</p>
                </div>

                <div class="emptySpace-xs30"></div>
            </div>
            <div class="col-sm-6 col-sm-offset-2">
                <form name="frm-contact" id="frm-contact" method="post" action="">
                    <input type="hidden" name="t_form" id="t_form" value="{{ token }}">
                    <div class="js-alert"></div>

                    <input class="simple-input" id="c_name" name="c_name" type="text" placeholder="Nombre y Apellidos" />
                    <div class="text-danger" id="c_name_validate"></div>
                    <div class="emptySpace20"></div>

                    <input class="simple-input" id="c_email" name="c_email" type="text" placeholder="Email" />
                    <div class="text-danger" id="c_email_validate"></div>
                    <div class="emptySpace20"></div>

                    <input class="simple-input only-phone" id="c_phone" name="c_phone" type="text" placeholder="Teléfono" />
                    <div class="text-danger" id="c_phone_validate"></div>
                    <div class="emptySpace20"></div>

                    <div class="sumoWrapper">
                        <select class="SelectBox" name="c_reason" id="c_reason">
                            <option value="" selected disabled>Motivo</option>
                            {% for reason in contactReason %}
                                <option value="{{ reason.id }}">{{ reason.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="text-danger" id="c_reason_validate"></div>
                    <div class="emptySpace20"></div>

                    <textarea class="simple-input" id="c_message" name="c_message" placeholder="Describe el motivo de tu consulta"></textarea>
                    <div class="text-danger" id="c_message_validate"></div>
                    <div class="emptySpace50 emptySpace-xs30"></div>

                    <button type="submit" class="button btn-submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>