<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.149056213829!2d-0.36233088423331455!3d39.488548719485586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60461e87e0d6e7%3A0x5679493130b4fd3f!2sDeva%3A+Centro+de+Psicolog%C3%ADa+y+Sexolog%C3%ADa!5e0!3m2!1ses!2ses!4v1566390474377!5m2!1ses!2ses" width="600" height="395" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>