<div class="col-sm-12 col-md-4 col-md-push-8 col-lg-3 col-lg-push-9">
    <div class="mobileSearch large">
        Search
        <i class="fa fa-angle-down"></i>
    </div>
    
    <aside class="blogAside">
        <ul class="categoryList normall">
            {% if act == 1 %} {% set class = "activeCat" %} {% else %} {% set class = "" %} {% endif %}
            <li class="{{ class }}"><a href="{{ path('/sexologia') }}">Introducción</a></li>
            {% if act == 2 %} {% set class = "activeCat" %} {% else %} {% set class = "" %} {% endif %}
            <li class="{{ class }}"><a href="{{ path('/educacion-sexual') }}">Educación Sexual</a></li>
            {% if act == 3 %} {% set class = "activeCat" %} {% else %} {% set class = "" %} {% endif %}
            <li class="{{ class }}"><a href="{{ path('/consueling') }}">Asesoramiento Sexual</a></li>
            {% if act == 4 %} {% set class = "activeCat" %} {% else %} {% set class = "" %} {% endif %}
            <li class="{{ class }}"><a href="{{ path('/sexologia-clinica') }}">Sexología Clínica</a></li>
        </ul>
        
        <div class="openingHours">
            <h6 class="h6 as">Cita Previa:</h6>
            <ul class="normall">
                <li><span>Raquel Valero</span> <span>666 474 813 </span> <div class="clear"></div></li>
                <li><span>Gloria Sempere</span> <span>697 660 173</span> <div class="clear"></div></li>
            </ul>
        </div>

        <hr>

        <div class="openingHours">
            <h6 class="h6 as">Horario</h6>
            <ul class="normall">
                <li><span>De lunes a viernes</span> <span>Mañanas y tardes</span> <div class="clear"></div></li>
                <li><span>Sábado mañana</span> <span>Con cita previa</span> <div class="clear"></div></li>
            </ul>
        </div>
    </aside>
</div>