{% extends "Admin/layout.twig" %}

{% block title %}Agergar / Editar etiqueta{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Etiquetas
            {% if act == 1 %}
                <small>Agregar etiqueta</small>
            {% else %}
                <small>Editar etiqueta</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/tags') }}">
                    Etiquetas
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Nueva etiqueta</li>
            {% else %}
                <li class="active">Editar etiqueta</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Información de la etiqueta</h2>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="name" id="name" class="form-control" value="{{ tag.name }}">
                            <div class="text-danger" id="name_validate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
    </form>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="tag" data-l="add" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-tag.js') }}"></script>
{% endblock %}
