{% extends "Admin/layout.twig" %}

{% block title %}Ver Mensaje{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Contacto
            {% if act == 1 %}
                <small>Agregar mensaje</small>
            {% else %}
                <small>Editar mensaje</small>
            {% endif %}
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('/inkcms/contact') }}">
                    Listado de mensajes
                </a>
            </li>
            {% if act == 1 %}
                <li class="active">Nuevo Mensaje</li>
            {% else %}
                <li class="active">Editar Mensaje</li>
            {% endif %}
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <form id="{{ form }}" name="{{ form }}" method="post" action="">
        <div class="row">
            <input type="hidden" name="t_form" id="t_form" value="{{ token }}">

            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Mensaje</h2>

                        <!-- <div class="pull-right">
                            <div class="form-group">
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-flat css-marginR10 btn-primary active css-width100" data-color="primary" data-input="active">
                                        <i class="state-icon glyphicon glyphicon-check"></i> Leído
                                    </button>
                                    <input class="hidden" type="checkbox" name="readed" id="readed" value="1" {{ isChecked([1], contact.readed) }}>
                                </span>
                            </div>
                        </div> -->
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label>Nombres</label>
                            <p>{{ contact.names }}</p>
                        </div>

                        <div class="form-group">
                            <label>E-mail</label>
                            <p>{{ contact.email }}</p>
                        </div>

                        <div class="form-group">
                            <label>Teléfono</label>
                            <p>{{ contact.phone }}</p>
                        </div>

                        <div class="form-group">
                            <label>Motivo</label>
                            <p>{{ contact.ContactReason.name }}</p>
                        </div>

                        <div class="form-group">
                            <label>Mensaje</label>
                            <p>{{ contact.message }}</p>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-flat pull-right btn-submit">Guardar</button>
            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                        <h2 class="box-title">Nota adicional</h2>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <textarea class="form-control" name="note" id="note" rows="8">{{ contact.note }}</textarea>
                        </div>

                        <div class="text-danger" id="note_validate"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block key %}
    <div class="p-key" data-m="contact" data-l="contactEdit" data-act="{{ act }}" data-id="{{ id }}" data-form="{{ form }}"></div>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Checkbox -->
    <script src="{{ asset('inkcms/js/js-checkbox.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('inkcms/js/js-contact.js') }}"></script>
{% endblock %}
