{% extends "Admin/layout.twig" %}

{% block title %}Listado de mensajes{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            Contacto
            <small>Listado de mensajes</small>
        </h1>

        <ol class="breadcrumb">
            <li>
                <a href="{{ path('/inkcms') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            </li>
            <li class="active">Listado de mensjaes</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="js-alert">{{ flash|raw }}</div>

    <div class="box box-info">
        <div class="box-header">
            <h2 class="box-title">Listado de mensjaes</h2>
        </div>

        <div class="box-body">
            <table class="table table-bordered data-table table-hover">
                <thead>
                    <tr>
                        <th>Ref.</th>
                        <th>Nombres</th>
                        <th>Razón</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for msg in contact %}
                        {% if msg.readed == 0 %}
                            {% set message = "<b>No leído</b>" %}
                            {% set background = 'style="background-color: #dbdbdb"' %}
                        {% else %}
                            {% set message = "Leído" %}
                            {% set background = '' %}
                        {% endif %}

                        <tr id="tr_{{ msg.id }}" {{ background|raw }}>
                            <td>{{ msg.id }}</td>
                            <td>{{ msg.names }}</td>
                            <td>{{ msg.contactReason.name }}</td>
                            <td id="st_{{ msg.id }}">{{ message|raw }}</td>
                            <td>
                                <a href="{{ path('/inkcms/contact/message/edit/' ~ msg.id) }}" class="btn btn-flat btn-info" data-toggle="tooltip" data-placement="top" title="Ver"><i class="fas fa-eye"></i></a>
                                <a href="#" class="btn btn-flat btn-warning btn-unread btn-submit" data-id="{{ msg.id }}" data-toggle="tooltip" data-placement="top" title="Marcar como no leído"><i class="fas fa-envelope"></i></a>

                                {% if userSession.role == "ROLE_ADMIN" %}
                                    <button type="button" class="btn btn-flat btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="removeBootstrapModal({{ msg.id }})">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade modal-danger" tabindex="-1" role="dialog" id="mod-remove">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Mensaje</h4>
                </div>
                <div class="modal-body">
                    <p>Estas seguro de eliminar este <b>Mensaje</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No eliminar</button>
                    <button type="button" class="btn btn-danger btn-flat" id="mod-remove-btn" data-value="" onclick="removeEntry('{{ path('/inkcms/contact/message/remove') }}')"><i class="fa fa-trash"></i> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block key %}
    <div class="p-key" data-m="contact" data-l="contactList" data-token="{{ token }}"></div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block javascript %}
    <!-- Data Table -->
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <!-- CustomJS -->
    <script>
        $(function(){
            $('.data-table').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se han encontrado resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se han encontrado resultados",
                    "infoFiltered": "(Se ha filtrado un total de _MAX_ entradas)",
                    "search": "Buscar: ",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                }
            });

            $('.btn-unread').on('click', function(e){
                e.preventDefault();

                var message = $(this).data('id');

                $.ajax({
                    type: 'POST',
                    url: base_url + '/inkcms/ajax/contact/message/update/' + message,
                    data: {
                        id: message,
                        readed: "0",
                        t_form: $('.p-key').data('token')
                    },
                    dataType: 'json',
                    beforeSend: function(){
                        $(".btn-submit").attr("disabled", true).html('<i class="fa fa-spinner fa-spin"></i>');
                    },
                    success: function(r){
                        if (r.status == 'OK') {
                            $('#tr_' + message).css("background-color", "#dbdbdb");
                            $('#st_' + message).html('<b>No leído</b>')
                            $('.p-key').data('token', r.token);
                        } else {
                            $('.js-alert').html('<div class="alert alt-alert alert-danger" role="alert">' + r.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + '</div>');
                            $(document).scrollTop(0);
                        }

                        $(".btn-submit").attr("disabled", false).html('<i class="fas fa-envelope"></i>');
                    }
                });
            })
        });
    </script>
{% endblock %}
