{% extends "Web/layout.twig" %}

{% block title %}El Centro{% endblock %}

{% block body %}
    <!-- 	Top banner-START 	-->
    <div class="contentPadding bg" style="background-image: url('{{ image('web/banner-img2.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="servicesTitle">
                        <div class="cell-view">
                            <h1 class="h1 light as">EL CENTRO</h1>
                            <div class="breadCrumbs small">
                                <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Historia</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 	Top banner-END 	-->

    <div class="contentPadding" id="Presentacion">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center-block">
                    <div class="aboutOur">
                        <h2 class="h2 as">Historia del centro</h2>

                        <div class="emptySpace10"></div>

                        <div class="simple-article normall">
                            {{ information.history|raw }}
                        </div>
                    </div>
                    <div class="emptySpace-xs30"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 	Our team-START 	-->
    <div id="Equipo" class="contentPaddingB">
        <div class="container">
            <div class="row clearFix">
                <div class="col-xs-12">
                    <div class="titleShortocode">
                        <h3 class="h3 as">NUESTRO EQUIPO</h3>
                        <div class="emptySpace30"></div>
                        <div class="simple-article normall">
                            {{ information.team|raw }}
                        </div>
                    </div>
                    <div class="emptySpace-sm30 css-marginB100"></div>
                </div>
                <!-- 	persone1-END 	-->

                {% for member in team %}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="tumbWrapper persone">
                            <div class="imgWrapper">
                                <img src="{{ member.profileImage }}" alt="{{ member.names }}">
                            </div>
                            <div class="blockContent">
                                <span>{{ member.names }}</span>
                                <div class="css-member-description">{{ member.shortDescription|raw }}</div>

                                <p><a href="#" class="button btn button2 js-modal" data-member="{{ member.id }}">+ info</a></p>
                            </div>
                        </div>
                        <div class="emptySpace-sm30"></div>
                    </div>
                {% endfor %}

                <div class="col-xs-12">
                    <hr>
                    <div class="titleShortocode" style="margin-top: 40px;">
                        <div class="simple-article normall">
                            <p> <strong>Colaboradores: </strong><br> - Virginia Madrid del Toro. Licenciada en Derecho. Especialista en Mediación.<br></p>
                        </div>
                    </div>
                    <div class="emptySpace-sm30"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="Servicios" class="contentPaddingB ccs-padding-Bottom60">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6   ccs-padding-Bottom30 ccs-padding-top30">
                    <h3>¿QUÉ SERVICIOS OFRECEMOS?</h3>
                    <div class="simple-article normall">
                        <p>{{ information.services|raw }}</p>
                    </div>
                </div>

            </div>

            <div class="row ccs-padding-top30">
                {% for service in services %}
                    <div class="col-sm-6">
                        <div class="titleShortocode">
                            <h3 class="h3 as">{{ service.name }}</h3>
                        </div>
                            <div class="emptySpace40 emptySpace-xs30"></div>
                        <!-- 	Accordeon-START 	-->
                        <div class="accordeon normall">
                            {% for sub in subservices %}
                                {% set class, style = "", "" %}
                                {% if loop.first %}
                                    {% set class, style = "active", "display: block;" %}
                                {% endif %}

                                {% if sub.services.id == service.id %}
                                    <div class="accordeon-title {{ class }}">
                                        <div class="accrodeonButton">
                                            <span></span><span></span>
                                        </div>
                                        {{ sub.name }}
                                    </div>
                                    <div class="accordeon-toggle" style="{{ style }}">
                                        <div class="simple-article">
                                            {{ sub.description|raw }}
                                            <a href="#" class="button btn button2">+info</a>
                                            <p></p>
                                        </div>
                                    </div>

                                    <div class="emptySpace20"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Abot us-END -->

    {% include "Web/Overall/contact.twig" %}
    {% include "Web/Overall/maps.twig" %}

    <!-- Modal  Raquel-->
    <div class="modal fade" id="mod-team" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Presentación</h5>
                </div>

                <div class="modal-body" style="padding: 40px;">
                    <img src="" width="100" height="100" class="img-circle mod-profile-image" alt="equipo"/>
                    <div class="simple-article">
                        <h3 class="mod-names"></h3>
                        <p class="mod-description"></p>
                        <h6 class="mod-phone"></h6>
                        <hr>
                        <div class="mod-experience"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">volver</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('/bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('/web/js/js-contact.js') }}"></script>
    <script type="text/javascript">
        var team = [
            {% for member in team %}
                {
                    'id': '{{ member.id }}',
                    'names': '{{ member.names }}',
                    'description': '{{ member.description|raw }}',
                    'phone': '{{ member.phone }}',
                    'experience': '{{ member.experience|raw }}',
                    'profileImage': '{{ member.profileImage }}'
                },
            {% endfor %}
        ];

        $(function(e){
            $('.js-modal').on('click', function(e){
                e.preventDefault();
                var member = $(this).data('member');
                $('#mod-team').modal('show');

                for (var i in team) {
                    if (team[i].id == member) {
                        $('.mod-profile-image').attr('src', team[i].profileImage);
                        $('.mod-names').html(team[i].names);
                        $('.mod-description').html(team[i].description);
                        if (team[i].phone && team[i].phone != "") {
                            $('.mod-phone').html('Teléfono : ' + team[i].phone);
                        }
                        $('.mod-experience').html(team[i].experience);
                    }
                }
            });
        });
    </script>
{% endblock %}
