<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Raquel Valero{% endblock %} - Psicología y Sexología en Valencia</title>
        <meta name="Description" CONTENT=" " />
        <meta name="Keywords" CONTENT="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:300,400,600,700%7CRaleway:400,700,800" rel="stylesheet">

        <link rel="shortcut icon" href="{{ image('web/favicon.ico') }}" />
        <!--    Styles-START 	-->
        <link rel="stylesheet" href="{{ asset('/web/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/web/css/swiper.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/web/css/sumoselect.css') }}">
        <link rel="stylesheet" href="{{ asset('/node_modules/@fortawesome/fontawesome-free/css/all.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/plugins/owlcarousel/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/web/css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('/web/css/style.css') }}" type="text/css" />
        {% block stylesheet %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('/web/css/css-styles.css') }}" type="text/css" />
        <!--    Styles-END 	-->
    </head>
    <!--/head-->

    <body>
        {% include "Web/Overall/cookies.twig" %}
        <div id="loader-wrapper"></div>
        <div id="content-block">
            <!-- Header-START -->
            <header class="tt-header header2 ccs_BG_header">
                {% include "Web/Overall/navigation.twig" %}
            </header>
            <!-- Header-END -->
            <div class="headerClearFix headerfix2"></div>

            {% block body %}{% endblock %}

            {% include "Web/Overall/footer.twig" %}
        </div>
        <!--END-->

        <!--    Scripts-START 	-->
        <script src="{{ asset('/web/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/web/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/web/js/swiper.jquery.min.js') }}"></script>
        <script src="{{ asset('/web/js/SmoothScroll.js') }}"></script>
        <script src="{{ asset('/web/js/jquery.sumoselect.min.js') }}"></script>
        <script src="{{ asset('/web/js/simple-lightbox.min.js') }}"></script>
        <script src="{{ asset('/web/js/global.js') }}"></script>
        <script src="{{ asset('/inkcms/js/generals-functions.js') }}"></script>
        <script src="{{ asset('/web/js/__paths.js') }}"></script>
        <!--    Scripts-END 	-->
        <script src="{{ asset('/plugins/owlcarousel/owl.carousel.js') }}"></script>
        <script>
            $(document).on('ready', function() {
                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    margin: 10,
                    nav: true,
                    loop: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 6
                        }
                    }
                });
            });
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>
