{% extends "Web/layout.twig" %}

{% block title %}Contacto{% endblock %}

{% block body %}
    <!-- 	Top banner-START 	-->
    <div class="contentPadding bg" style="background-image: url('{{ image('web/banner-img2.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="servicesTitle">
                        <div class="cell-view">
                            <h1 class="h1 light as">CONTACTO</h1>
                            <div class="breadCrumbs small">
                                <a href="{{ path('/') }}">home</a> <i class="fa fa-angle-right"></i> <span>Contacto</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 	Top banner-END 	-->

    <div class="contentPadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="contentTitle normall">
                        <h2 class="h2 as">Contacta con Deva Psicología</h2>
                        <p>Puedes hacernos una consulta o solicitar una cita previa, rellenado el siguiente formulario o contactando con nosotras por teléfono o email.</p>
                        <hr>
                    </div>

                    <div class="emptySpace50 emptySpace-xs30"></div>
                </div>

                <div class="col-sm-6 col-md-8">
                    <h4>1º Cita</h4>
                    <p>Primera cita concertada gratuita en formato de entrevista, duración de 15 min, aproximadamente.</p><br><br>

                    <form name="frm-contact" id="frm-contact" method="post" action="">
                        <input type="hidden" name="t_form" id="t_form" value="{{ token }}">
                        <div class="js-alert"></div>

                        <input class="simple-input" id="c_name" name="c_name" type="text" placeholder="Nombre y Apellidos" />
                        <div class="text-danger" id="c_name_validate"></div>
                        <div class="emptySpace20"></div>

                        <input class="simple-input" id="c_email" name="c_email" type="text" placeholder="Email" />
                        <div class="text-danger" id="c_email_validate"></div>
                        <div class="emptySpace20"></div>

                        <input class="simple-input only-phone" id="c_phone" name="c_phone" type="text" placeholder="Teléfono" />
                        <div class="text-danger" id="c_phone_validate"></div>
                        <div class="emptySpace20"></div>

                        <div class="sumoWrapper">
                            <select class="SelectBox" name="c_reason" id="c_reason">
                                <option value="" selected disabled>Motivo</option>
                                {% for reason in contactReason %}
                                    <option value="{{ reason.id }}">{{ reason.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-danger" id="c_reason_validate"></div>
                        <div class="emptySpace20"></div>

                        <textarea class="simple-input" id="c_message" name="c_message" placeholder="Describe el motivo de tu consulta"></textarea>
                        <div class="text-danger" id="c_message_validate"></div>
                        <div class="emptySpace50 emptySpace-xs30"></div>

                        <button type="submit" class="button btn-submit">Enviar</button>
                    </form>

                    <div class="emptySpace-xs30"></div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="contactDetails normall">
                        <!-- 	Contacts1-START 	-->
                        <div class="contactAddres">
                            <div class="imgWrapper">
                                <i class="fas fa-map-marker-alt fa"></i>
                            </div>
                            <div class="simple-article light">
                                <p>DEVA PSICOLOGÍA:</p>
                                <p>C/ Francisco Martínez, 1-6º-18ª, 46020 - Benimaclet (Valencia)</p>
                                <p><strong>Próximamente, dispondremos de un segundo centro.</strong></p>
                            </div>
                        </div>
                        <!-- 	Contacts1-END 	-->

                        <!-- 	Contacts2-START 	-->
                        <div class="contactAddres">
                            <div class="imgWrapper">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <a href="mailto:hola@psicologiaysexologia.es">hola@psicologiaysexologia.es</a>
                        </div>
                        <!-- 	Contacts2-END 	-->

                        <!-- 	Contacts3-START 	-->
                        <div class="contactAddres large">
                            <div class="imgWrapper">
                                <i class="fa fa-phone"></i>
                            </div>
                            <a href="tel:666474813">Raquel Valero<br>666 474 813 </a>
                        </div>
                        <!-- 	Contacts3-END 	-->

                        <!-- 	Contacts3-START 	-->
                        <div class="contactAddres large">
                            <div class="imgWrapper">
                                <i class="fa fa-phone"></i>
                            </div>
                            <a href="tel:697660173">Gloria Sempere<br>697 660 173 </a>
                        </div>
                        <!-- 	Contacts3-END 	-->

                        <div class="contactAddres large">
                            <div class="imgWrapper">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <a href=" "><span>Horario:</span><br></a>
                            <span style="font-size: 12px; line-height: 16px; color: #fff;">De lunes a viernes (mañanas y tardes).<br>
                                Sábado mañana, con cita previa.<br>
                                Algunas actividades pueden realizarse durante todo un sábado.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "Web/Overall/maps.twig" %}
{% endblock %}

{% block javascript %}
    <!-- jQuery validation -->
    <script src="{{ asset('/bower_components/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bower_components/jquery-validation/dist/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/inkcms/js/js-additional-method.js') }}" type="text/javascript"></script>
    <!-- Custom JS -->
    <script src="{{ asset('/web/js/js-contact.js') }}"></script>
{% endblock %}
