<p>
    <b>Nombres:</b> {{ names }}
</p>

<p>
    <b>E-mail:</b> {{ email }}
</p>

<p>
    <b>Teléfono:</b> {{ phone }}
</p>

<p>
    <b>Motivo:</b> {{ subject }}
</p>

<p>
    <b>Mensaje:</b> <br>
    {{ message }}
</p>